body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
body,html,input{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;color:#444}
table{border-collapse:collapse;border-spacing:0}
img{border:0}
a:focus,*:focus{outline:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
input,label,img,th{vertical-align:middle}
.font-fixh{font-family:Georgia,Arial;color:#f00;font-size:16px;font-weight:700}
address,cite,dfn,em,var{font-style:normal}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline}
body fieldset{border:1px solid #d8d8d8;padding:10px}
body fieldset legend{padding:3px 8px}
.gray4,a.gray4{color:#999}
.red,.red a,a.red{color:red}
.green{color:#0e774a}
.blue{color: blue}
select optgroup{color:#cac8bb}
input{outline:0}
textarea{outline:0}
.hidden{display:none}
.invisible{visibility:hidden}
.pad-10{padding:10px;overflow:hidden}
.clear:after{content:'\20';display:block;height:0;clear:both}
.clear{_zoom:1}
.fb{font-weight:bold}
.fn{font-weight:normal}
.bk,.bk3,.bk6,.bk8,.bk10,.bk15,.bk20,.bk30{clear:both;font-size:1px;height:0;line-height:1px}
.bk3{height:3px}
.bk6{height:6px}
.bk8{height:8px}
.bk10{height:10px}
.bk15{height:15px}
.bk20{height:20px}
.bk30{height:30px}
.cu,.cu-li li,.cu-span span{cursor:hand;!important;cursor:pointer}
.text-c{text-align:center}
.text-l{text-align:left}
.text-r{text-align:right}
.lf{float:left}
.rt{float:right}
.pr{position:relative}
.pa{position:absolute}
.subnav{padding:10px}
.subnav h2{margin-bottom:6px}
.col-tab ul.tabBut{height:32px;position:relative;border-bottom:1px solid #368CBD;}
.col-tab ul.tabBut li{float:left;height:25px;line-height:26px;margin-right:5px;border-top-left-radius:3px;border-top-right-radius:3px;padding:4px 12px;}
.col-tab ul.tabBut li.on{position:relative;background: #368CBD;color: #fff;}
.col-tab .content{border:1px solid #dce3ed;_zoom:1}
.col-tab .contentList{border:1px solid #dce3ed;_zoom:1}
.content-menu a{cursor:pointer;display:inline-block;zoom:1;*display:inline;color:#369}
.content-menu a:hover{text-decoration:none}
.content-menu a em{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline}
.content-menu a.add{background:#FF6800;padding: 5px 12px;color:#fff;vertical-align:middle;border-radius:3px;}
.content-menu a.on{padding: 5px 12px;color:#fff;background:#35495E;border-radius:3px;vertical-align:middle}
.content-menu span{color:#ddd;padding:0 8px}
.pageleft{float:left}
.pageright{float:right}
.ico1{background:url(file.gif) no-repeat;padding-left:20px}
.ico3{background:url(link.gif) no-repeat;padding-left:20px}
.input-text-c,.input-text,textarea,input.date{border:1px solid #d0d0d0;height:18px;margin:0 5px 0 0;padding: 5px 0 5px 8px;border:1px solid #d0d0d0;font-family:Verdana,Geneva,sans-serif,\5b8b\4f53;font-size:12px}
input.date{background:#fff url(input_date.png) no-repeat right 5px;padding-right:18px;font-size:12px}
textarea,textarea.input-text,textarea{font-size:12px;height:auto;padding:5px;margin:0}
.input-text-c{padding:0}
.select{height: 30px;padding-left: 8px;vertical-align: top;border:1px solid #d0d0d0;cursor:default;}
.input-text-c{text-align:center}
.picList li{padding:0 0 8px}
.display{display:none}
.mr10{margin-right:10px}
.lbg{font-weight:normal;background:url(bg_x.gif) repeat-x 0 -110px}
.newscontent td{height:20px;background:url(link.gif) 10px 8px no-repeat}
.newscontent td a{padding-left:22px}
.content-menu .select, .pageleft.select{border-radius: 3px;}
.m-table{width:100%;background-color:#fff;border: 1px solid #e1e6eb;}
.m-table th{border-top: 0;vertical-align: bottom;font-weight: 400;color: #333;border-bottom: 1px solid #e1e6eb;padding:8px 0 8px 12px;}
.m-table td{border-top: 1px solid #ddd;padding:8px 0 8px 12px;border-bottom: 1px solid #e1e6eb;vertical-align: middle;}
.m-table tbody tr:hover{background:#f9f9f9}
.content-menu .right{float:right}
.content-menu .left{float:left}
.xiaocms-page{font-family:\5b8b\4f53;text-align:right;margin-right:10px}
.xiaocms-page a{margin:0 2px;border:1px solid #ddd;padding:5px 9px;color:#666;line-height:26px;border-radius:15px}
.xiaocms-page a:hover{border:1px solid #f00;background:#f00;color:#fff;text-decoration:none}
.xiaocms-page span{border-radius:15px;background-color:#e4f6fc;color:#5394aa;border:1px solid #bfdfea;margin:0 2px;padding:5px 9px}
.table_form{font-size:12px;}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal;text-align:right;padding-right:10px;color:#555;}
.table_form td label{vertical-align:middle}
.table_form td,.table_form th{padding:8px 8px 8px 0}
.onShow{background:url(question.gif) center left no-repeat;color:#959595;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;vertical-align:middle;line-height:18px;padding:0 10px 2px 18px}
.onError{background:url(icon-sobox.png) no-repeat -120px 0;color=red;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;vertical-align:middle;line-height:18px;padding:0 10px 2px 20px}
.button{cursor: pointer;font-family: \5b8b\4f53;border-radius: 2px;padding: 5px 12px;color: #191d24;border: 1px solid #c7ced2;background-color: #f6f7fb;}
.button:hover{background: #ff6800;border: 1px #ff6800 solid;color: #fff;}
.col-tab .button, .table_form .button, .button:active{background: #ff6800;border: 1px #ff6800 solid;color: #fff;}
.browser{padding:10px;background:#f00;color:#fff;font-size:14px}
.list-dot{width:500px;overflow:hidden}
.list-dot li,.list-dot-othors li{padding:5px 15px;border-bottom:1px dotted #c6dde0;color:#bbb;position:relative;_height:22px}
.list-dot li span,.list-dot-othors li span{color:#0970a2}
.list-dot li a.close span,.list-dot-othors li a.close span{display:none}
.list-dot li a.close,.list-dot-othors li a.close{background:url(icon-sobox.png) no-repeat -145px 0;display:block;width:24px;height:18px;position:absolute;outline:0;right:5px;bottom:5px}
.list-dot li a.close:hover,.list-dot-othors li a.close:hover{background:url(icon-sobox.png) no-repeat -120px 0}
.list-dot-othors li{float:left;width:24%;overflow:hidden}
.so-popbox .s-sopop-close,a.a-sopop-btn,span.s-sopop-btn{background:url(icon-sobox.png) no-repeat}
.so-popConfirm .so-popbox-cont{background:url(icon-tip.png) no-repeat}
.so-openmask{position:fixed;_position:absolute;top:-2px;left:0;width:100%;height:0;background:#000;filter:alpha(opacity=40);opacity:.4;Z-index:1100}
.so-popbox{border:1px solid #777;background:#fff;text-align:left;z-index:1120;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;box-shadow:0 0 12px #666;-webkit-box-shadow:0 0 12px #666;-moz-box-shadow:0 0 12px #666}
.h2-sopop{height:27px;line-height:26px;background:#f6f6f6;padding-left:15px;font-weight:bold;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;border-bottom:1px solid #dbdbdb}
.h2-sopop-move{cursor:move}
.so-popbox .s-sopop-close{position:absolute;top:2px;right:4px;width:25px;height:25px;background-position:-145px 0;text-indent:-999em;overflow:hidden;cursor:hand;cursor:pointer}
.so-popbox .s-sopop-out-close{top:-12px;right:-12px;background-position:0 0}
.so-popbox-cont{padding:5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.p-so-popBtn{text-align:center;padding:5px 0 15px}
.so-popAlert .so-popbox-cont{padding:15px 15px 10px 15px}
.so-popConfirm .so-popbox-cont{padding:20px 20px 20px 85px;background-position:50px 16px}
.so-popTip-1{border:1px solid #f4b23f;background:#fff2c1;box-shadow:1px 1px 2px #bbb;-webkit-box-shadow:1px 1px 2px #bbb;-moz-box-shadow:1px 1px 2px #bbb}
.so-popTip-1 .so-popbox-cont{padding:8px}
.so-popTip-2{border:1px solid #ff812d;background:#ffffd0;color:#f00}
.so-popAlert .p-so-popBtn{padding:5px 0 15px}
.so-loading{border:0 solid #fff;font-size:1.18em;box-shadow:1px 1px 1px #666;-webkit-box-shadow:1px 1px 1px #666;-moz-box-shadow:1px 1px 1px #666}
.so-loading .so-popbox-cont{padding:20px;text-align:center;background:url(loading.gif) no-repeat center 45%}
.so-loading .s-sopop-close{display:none}
a.a-sopop-btn{display:-moz-inline-stack;display:inline-block;*display:inline;*zoom:1;margin:0 3px;padding:0 0 0 15px;color:#fff;background-color:#ec5656;background-position:0 -40px}
span.s-sopop-btn{display:-moz-inline-stack;display:inline-block;*display:inline;*zoom:1;background-position:100% -40px;height:25px;line-height:23px;padding:0 15px 0 0}
a.a-sopop-cancel{background-position:0 -70px;color:#444}
a.a-sopop-cancel span.s-sopop-btn{background-position:100% -70px}
.so-overTip .s-sopop-close{top:-9px;left:25px;width:17px;height:9px;background-position:0 -101px}
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	width:78px; height:30px; line-height:30px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #42aba6;
    /*padding: 6px 15px;*/
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #2d8e89;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

