
<div id="footer">
 <a href="javascript:;" onfocus="this.blur();" class="goTop">返回顶部</a>
 <ul>
  <li class="footNav"><a href="{xiao:$site_url}?web=m">手机版</a><a href="{xiao:$site_url}?web=pc">电脑版</a></li>
  <li class="copyRight">© 2017 All Rights Reserved.</li>
  <li class="powered"><a href='http://www.xiaocms.com' target='_blank'>Powered by xiaocms</a> </li>
 </ul>
</div>
</div>
</body>
</html>