body{font-family:Microsoft Yahei,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53,Arial,Lucida,Verdana,Helvetica,sans-serif;color:#555;background-color:#F1F1F1;min-width:320px}
body,button,input,textarea{font-size:12px;line-height:1.531;outline:0;margin:0;padding:0}
blockquote,dd,dl,dt,form,ol,p,ul{margin:0;padding:0}
a{text-decoration:none;color:#333}
a:hover{text-decoration:underline}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:12px;margin:0;padding:0}
input,select{vertical-align:middle}
b,em,i{font-style:normal;font-weight:400}
img{vertical-align:middle;border:0}
label{cursor:pointer}
#wrapper{width:100%;min-width:320px;margin:0 auto;max-width:640px;background-color:#F5F5F5;overflow:hidden}
#header{zoom:1;overflow:hidden;background-color:#0072C6;height:45px;margin-bottom:1px;color:#FFF;text-align:center;font-size:16px}
#header a{color:#FFF}
#header em{line-height:45px}
#header .logo{float:left;padding-left:11px}
#header .logo img{vertical-align:top}
#header a{display:block;width:45px;height:45px}
#header a.home{float:left;background:url(images/icon_head.png) no-repeat left top}
#header a.siteMap{float:right;background:url(images/icon_head.png) no-repeat -45px top}
#header a.order{float:right;background:url(images/icon_head.png) no-repeat -90px top}
#header .topSearch{float:left;width:50%;margin:8px 0 0 8px}
#header .topSearch .searchBox{border:1px solid #FFF;text-align:left}
#mainNav{font-size:13px;background-color:#FFF}
#mainNav ul{zoom:1;overflow:hidden}
#mainNav li{float:left;width:25%}
#mainNav li a{display:block;text-align:center;border-right:solid #EEE 1px;border-bottom:solid #EEE 1px;line-height:55px}
#mainNav li a.last{border-right:none}
.slideShow{position:relative;padding:0}
.slideShow .slideBox{background:#fff;-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}
.slideShow .slideBox .slides img{max-width:100%;display:block}
.slideShow .slideLoading{min-height:50px;background:url(images/slide_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}
.slideShow .arrowBox a{z-index:50;font-family:\5b8b\4f53,sans-serif;position:absolute;display:block;margin-bottom:-20px;width:40px;height:40px;bottom:50%;line-height:40px;text-decoration:none;text-align:center;color:#fff;font-size:2em;background-color:#333;background-color:rgba(50,50,50,.3)}
.slideShow .arrowBox a.disabled{display:none}
.slideShow .arrowBox .arrowPrev{left:20px}
.slideShow .arrowBox .arrowNext{right:20px}
.slideShow .arrowBox a:hover{background-color:rgba(50,50,50,.6)}
.slideShow .controlBox{z-index:30;position:absolute;bottom:3px;width:100%;text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666}
.slideShow .controlBox .control{display:inline-block}
.slideShow .controlBox.controlDefault a{background:url(images/inactive.png) no-repeat 50% 50%;text-indent:-9999px;width:13px;height:13px;clear:none;display:block}
.slideShow .controlBox.controlDefault a.active,.slideShow .controlBox.controlDefault a:hover{background:url(images/active.png) no-repeat 50% 50%}
#indexSearch{background-color:#EEE;height:30px;padding:10px}
#indexSearch .searchBox{border:1px solid #DDD}
#page{padding-bottom:30px;background-color:#FFF}
#page h1{border-bottom:1px solid #EEE;color:#333;font-size:14px;font-weight:700;padding:0 0 10px 10px}
#page .content{color:#878787;line-height:200%;padding:10px}
#page .content img{max-width:100%}
.productList{font-size:13px;zoom:1;overflow:hidden;background-color:#FFF}
.productList dl{float:left;width:50%}
.productList dd{text-align:center;border-right:solid #EEE 1px;border-top:solid #EEE 1px;padding:10px}
.productList dd.clearBorder{border-right:none}
.productList dd .img{margin-bottom:10px}
.productList dd .name{margin-bottom:6px}
.productList dd .price{color:#999}
#product{padding-bottom:30px;background-color:#FFF}
#product .img{border-bottom:1px solid #EEE;padding:10px;text-align:center}
#product .info{padding:10px;line-height:180%}
#product .info h1{font-size:16px;color:#333}
#product .info .defined{color:#999;padding:5px 0}
#product .info .price{color:red;font-size:16px}
#product .info .btnBuy{margin-top:20px}
#product .info .btnBuy .addToCart{background:#19B4EA url(images/btn_addtocart.png) no-repeat 20px 50%;color:#FFF;padding:8px 25px 8px 50px;text-decoration:none;cursor:pointer;font-size:16px;-webkit-appearance:none}
#product .info .tel{margin-top:20px;zoom:1;overflow:hidden;line-height:35px;background-color:#19B4EA;font-weight:700;font-size:14px}
#product .info .tel dt{float:left;width:82px;height:35px;text-align:right;padding-right:3px;background-color:#E0E0E0;color:#333}
#product .info .tel dd{float:left;width:150px;height:35px;color:#FFF;padding-left:10px}
#product .info .tel dd a{color:#FFF}
#product .content{padding:15px 0}
#product .content img{max-width:100%}
#product .content h3{height:35px;line-height:35px;color:#777;font-weight:700;font-size:14px;border-bottom:1px solid #EEE;padding-left:10px}
#product .content ul{padding:10px;color:#888;line-height:200%}
.articleList{background-color:#FFF}
.articleList dl{border-top:solid #EEE 1px;padding:13px;height:42px}
.articleList dt{margin-bottom:5px;font-size:13px}
.articleList dd{color:#999}
.articleList dd em{margin-right:8px}
#article{padding-bottom:30px;background-color:#FFF}
#article h1{border-bottom:1px solid #EEE;color:#333;font-size:16px;font-weight:700;padding:0 0 10px 10px}
#article .info{padding:10px;color:#999;font-size:13px}
#article .content{color:#878787;line-height:200%;padding:10px}
#article .content img{max-width:100%}
#catalog{zoom:1;overflow:hidden}
#catalog li a{display:block;background:#FFF url(images/icon_arrow_right.png) no-repeat right center;border-bottom:1px solid #EEE;line-height:50px;height:50px;padding-left:10px}
#douMsg{text-align:center;padding:50px 0;background-color:#FFF}
#douMsg dt{color:#0072C6;font-size:16px;margin-bottom:30px;font-weight:700}
#douMsg dd{color:#666}
#douMsg dd .back{display:block;width:100px;line-height:30px;background-color:#19B4EA;color:#FFF;margin:30px auto}
.clear{clear:both;height:0;line-height:0;font-size:0}
.none{display:none}
#vcode{cursor:pointer}
.cue{color:red;font-size:12px}
.fixex{position:fixed;left:0;bottom:0;z-index:10000;width:100%}
.btn{display:inline-block;background-color:#0072C6;color:#EEE;padding:8px 5px;text-transform:capitalize;cursor:pointer;font-weight:700;text-align:center;font-size:14px;-webkit-appearance:none;width:97%}
.btnGray{display:inline-block;border:1px solid #CCC;color:#555;padding:6px 5px;cursor:pointer;font-weight:700;text-align:center;font-size:14px;-webkit-appearance:none;width:97%}
.btnMini{display:inline-block;border:1px solid #CCC;color:#555;padding:4px 20px;cursor:pointer;font-weight:700;text-align:center;-webkit-appearance:none}
.btnRed{border:1px solid #e4393c;color:red}
.btnPayment{display:inline-block;background-color:red;color:#FFF;padding:4px 20px;text-transform:capitalize;cursor:pointer;font-weight:700;text-align:center;font-size:14px;-webkit-appearance:none}
.textInput{padding:8px 5px;border:1px solid #DDD;font-size:14px;-webkit-appearance:none;width:95%}
.textArea{padding:8px 5px;border:1px solid #DDD;font-size:14px;-webkit-appearance:none;width:95%}
.textAreaAuto{border:1px solid #DDD;padding:0;font-size:12x;line-height:20px;resize:none;min-height:40px;-webkit-appearance:none;width:96%}
.incBox{margin-bottom:5px;background-color:#FFF}
.incBox h3{font-weight:700;font-size:16px;color:#0072C6;padding:15px 10px 8px 10px}
.incBox h3 .more{float:right;font-size:13px;color:#777}
.searchBox{position:relative;background-color:#FFF;height:28px;padding-left:10px}
.searchBox .keyword{width:90%;color:#999;height:20px;line-height:20px;margin:4px 0}
.searchBox .btnSearch{position:absolute;right:0;border:0;background:#E0E0E0 url(images/btn_search.gif) no-repeat;width:28px;height:28px;text-indent:-999px;cursor:pointer}
.treeBox{zoom:1;overflow:hidden;padding:10px 5px;background-color:#FFF}
.treeBox a{display:block;float:left;margin:5px;border:solid #EEE 1px;padding:3px 6px}
.treeBox a.cur{background-color:#19B4EA;color:#FFF;border:solid #FFF 1px}
.tableBasic{font-size:13px;padding:5px 10px;background-color:#FFF}
.tableBasic dl{overflow:hidden;zoom:1;padding:3px 0;height:20px}
.tableBasic dl dt{float:left;width:70px}
.tableBasic dl dd{margin-left:70px}
.formBasic{font-size:13px;padding:15px 10px;background-color:#FFF}
.formBasic dl{overflow:hidden;zoom:1;margin-bottom:15px}
.formBasic dl dt{margin-bottom:3px}
.formBasic dl dd label{margin-right:25px;line-height:38px}
.formBasic dl .captcha{text-transform:uppercase;width:100px}
.formBasic dl .select{height:38px}
.urHere{background-color:#EEE;color:#555;padding:10px;height:24px;font-weight:700;font-size:15px}
.urHere a{color:#0072C6}
.urHere b{margin:0 8px}
.pager{text-align:center;padding:10px;height:36px;background-color:#FFF;margin-top:1px}
.pager a,.pager em,.pager span{display:inline-block;color:#525252;padding:0 15px;line-height:36px}
.pager em{color:#AAA}
#footer{background-color:#FFF}
#footer .goTop{display:block;margin:0 auto 20px auto;width:60px;text-align:center;background:url(images/icon_gotop.png) no-repeat center 40px;padding-top:48px}
#footer ul{background-color:#EEE;padding:15px 0;text-align:center;color:#999}
#footer a{color:#555}
#footer li{padding:5px 0}
#footer .footNav a{margin:0 5px;color:#0072C6}
#footer .powered{font-size:11px}
