.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.blank5{height:5px;}
.blank10{height:10px;}
.blank20{height:20px;}
.fl{float:left;}
.fr{float:right;}
.w740{width:740px;}
.w210{width:210px;}

/*会员样式*/
.mainbody {width: 960px;margin: 0 auto;}
.mainbody .bg{background:#fcfcfc;border: 1px solid #f4f4f4; border-bottom:2px solid #e6e6e6;  border-radius: 5px;padding: 15px;}
.mainbody .newwarp{width:300px;height:180px;float:left;}
.mainbody .newstitle{line-height:14px;height:20px;}
.mainbody .newstitle a{color:#929292}
.mainbody .newstitle h3{float: left;font-size: 14px;}
.mainbody .newstitle .more{color:#2554b3;float:right;}
.mainbody .newsfocus{height:75px;padding:10px 0px 0px 0px;margin-bottom:8px;border-bottom:1px solid #e0e0e0;}
.mainbody .newsfocus div{float:left;width:60px;height:60px;margin-right:16px;}
.mainbody .newsfocus div a{width:60px;height:60px;border:1px solid #d2d2d0;border-radius:5px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:42px;*font-family:Arial;}
.mainbody .newsfocus div a img{border-radius:5px;vertical-align:middle;width:58px;height:58px;}
.mainbody .newsfocus h3{margin-bottom:3px;}
.mainbody .newsfocus h3 a{font-weight:bold;font-size:12px;color:#fe8216;}
.mainbody .newsfocus p{color:#8f8f8f;line-height:18px;}
.mainbody .indexnewslist li{color:#325e7f;line-height:24px;height:24px;}
.mainbody .indexnewslist li a{color:#325e7f;}
.mainbody .indexnewslist li span{float:right;font-family:Verdana;color:#8c8c8c;}
.mainbody .aboutus{width:365px;height:180px;float:right;line-height:22px;color:#888;}
.mainbody .aboutus img{float:left;margin:5px 15px 0px 0;}
.mainbody .aboutus a{color:#2554b3;}
.mainbody .contact{width:178px;height:180px;float:right;}
.mainbody .contact img{float:left;margin:5px 15px 0px 0;}
.mainbody .contactus a{color:#2554b3;}
.mainbody .contact {line-height:22px;}

.listpage {clear: both;text-align: center;}
.piclist{width:720px;}
.piclist ul{}
.piclist li{width:240px;float:left;height:200px;overflow:hidden;}
.piclist img{width:224px;height:160px;padding:2px;border: 1px solid #cfcfcf;margin-bottom:8px;}
.piclist a{}
.piclist a:hover{color:red;text-decoration:none;}
.picname{text-align:center;}
.mainbody .page h2 {text-align:center;margin:20px;}
.mainbody .info {text-align:center;color:#999;margin-bottom:20px;}
.content{line-height:24px;}
