
i{ font-style:normal;}


/*产品样式*/

.ny-product-right{ width:100%; float:right; min-height:380px; overflow:hidden;}
.ny-product-right ul{ width:828px; float:left;}
.ny-product-right ul li{ height:309px; float:left; border:solid 1px #ccc; text-align:center; margin-right:26px; margin-top:25px;}
.ny-product-right ul li img{ margin:24px;}
.ny-product-right ul li h3{ font-size:14px; color:#666; line-height:35px;}
.ny-product-right ul li h2{ font-size:12px; font-weight:bold; color:#019944; line-height:10px;}
.ny-product-right ul li h3:hover{ color:#2c90ff;}
.ny-product-right ul li:hover{border:solid 1px #019944;}


/*新闻样式*/

.ny-news-right{ width:100%; float:left;}
.ny-news-right ul li{ width:100%; height:30px; border-bottom:dashed 1px #ccc; margin-bottom:5px; margin-top:3px;}
.news-link1{ font-size:14px; color:#019944; float:left; line-height:30px; margin-left:5px;}
.news-link2{ font-size:14px; width:75%; float:left; color:#666; line-height:30px; margin-left:5px; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news-time{ float:right; margin-right:5px; color:#999; font-size:14px; line-height:30px;}
.ny-news-right ul li:hover .news-time{ color:#019944;}
.ny-news-right ul li:hover .news-link1{ color:#019944;}
.ny-news-right ul li:hover .news-link2{ color:#019944;}

/*下载样式*/
.zx-info{ width:100%; float:left; min-height:300px; overflow:hidden;}
.zx-info ul li{ width:100%; float:left; border-bottom:dotted 1px #CCCCCC; margin-top:20px; background:url(../images/xiazai.png) 15px center no-repeat; background-size:1.5%;}
.zx-info ul li .lianjie{ font-size:14px; color:#5a5a5a; float:left; margin-left:30px; line-height:30px;}
.zx-info ul li span{ font-size:14px; color:#5a5a5a; float:right; line-height:30px;}
.zx-info ul li:hover .lianjie{ color:rgb(56, 131, 255);}
.zx-info ul li:hover span{ color:rgb(56, 131, 255);}
.zx-info ul li .xiazai{ font-size:14px; color:#5a5a5a; float:right; margin-right:15px; line-height:30px;}
.zx-info ul li:hover .xiazai{ color:rgb(56, 131, 255);}



/*留言样式*/
.ny-message-right{ width:100%; margin:auto;}
.ny-message1{ width:100%; height:30px; margin-top:15px;}
.ny-message1 span{ float:left; font-size:18px; color:#35AAE0;}
.ny-message2{ width:100%; height:30px; float:left; margin-top:10px;}
.ny-message2 p{ float:left; font-size:12px; color:#ccc; color:#666;}

.ny-message3{ width:750px; float:left; margin-top:5px;}
.ny-message3-1{ width:750px; float:left; height:30px; margin-top:15px;}
.ny-message3-1 span{ font-size:14px; color:#666; line-height:30px;}
.ny-message3-2{ width:750px; float:left; margin-top:5px;}
.mess-1{ width:740px; height:28px; padding:0px 5px; color:#666; float:left; border:dashed 1px #ccc; background:#eee;}
.mess-2{ width:740px; height:130px; float:left; padding:5px; border:dashed 1px #ccc; background:#eee; color:#666;}

.mess-b{ width:750px; height:30px; background:#ff8820; float:left; border:none; color:#FFF; font-size:16px; cursor:pointer; margin-top:10px;}



/*分页样式*/
.xiaocms-page{width:100%; height:30px; float:left; line-height:30px; text-align:center; margin:30px 0;}
.xiaocms-page a{ text-decoration:none; font-family:微软雅黑; margin-left:5px; color:#666; font-size:12px; border:solid 1px #ccc ; padding:5px; background:#CCC;}
.xiaocms-page span{ color:#fff; margin-left:5px; font-size:12px; border:solid 1px #CCCCCC; background:#ccc; padding:5px;}