{xiao:template header.html}

<!--内大图-->

{xiao:template left.html}

				<div class="nlx">

					<div class="row">

						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

							<div class="lx1">

								<div class="lxbt">联系我们</div>

								<span>鸿燊建筑集团有限公司</span>

								{xiao:$content}

							</div>

						</div>

						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

							<img src="{xiao:$site_template}images/ab.jpg">

						</div>

					</div>	

				</div>
                <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=RTdfZocRGul1cKRGrTijnAMQVntQ2zQL"></script>
	            <script type="text/javascript" src="//api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	            <link rel="stylesheet" href="//api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
	            <style>
	                .lxdt {
	                    width: 100%;
	                    height: 400px;
	                }
	                #allmap {
	                    width: 100%;
	                    height: 100%;
	                }
	                .BMap_Marker img {
	                    max-width: none;
	                }
	                #BMapLib_transBox0 td {
	                    width: auto!important;
	                }
	                #BMapLib_transBox0 {
	                    padding-top: 5px!important;
	                }
	                @media screen and (max-width: 768px) {
    	                .lxdt {
    	                    height: 300px;
    	                }
	                }
	            </style>
				<div class="lxdt">

					<!--<img src="{xiao:block 9}">-->
					<div id="allmap"></div>

				</div>
				
				<a name="ly"></a>
				<form class="lxly" action="/index.php?c=index&a=form&modelid=6" method="post">

					<div class="row">

						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

							<input type="text" name="data[xingming]" placeholder="电话" />

						</div>

						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

							<input type="text" name="data[youxiang]" placeholder="邮箱" />

						</div>

						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

							<input type="text" name="data[dizhi]" placeholder="地址" />

						</div>

						<div class="col-12 col-xl-12">

							<textarea name="data[liuyan]" placeholder="留言"></textarea>

						</div>

						<div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">

							<button type="submit" name="submit" value="">提交</button>

						</div>

					</div>

				</form>

			</div>

		</div>

	</div>

</div>
<script type="text/javascript">
	// 百度地图API功能
    var map = new BMap.Map('allmap');
    var poi = new BMap.Point(116.246786,40.228523);
    map.centerAndZoom(poi, 16);
    map.enableScrollWheelZoom();

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '地址：北京昌平区东关北里31号楼2单元101号底商<br/>电话：18792512631' +
                  '</div>';

    //创建检索信息窗口对象
    var searchInfoWindow = null;
	searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
			title  : "鸿燊建筑集团有限公司",      //标题
			width  : 290,             //宽度
			panel  : "panel",         //检索结果面板
			enableAutoPan : true,     //自动平移
			searchTypes   :[
				BMAPLIB_TAB_SEARCH,   //周边检索
				BMAPLIB_TAB_TO_HERE,  //到这里去
				BMAPLIB_TAB_FROM_HERE //从这里出发
			]
		});
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.addEventListener("click", function(e){
	    searchInfoWindow.open(marker);
    })
    map.addOverlay(marker); //在地图中添加marker
</script>
<!--底部-->

{xiao:template footer.html}