{xiao:template header.html} 

<link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{xiao:$site_template}css/default.css">
<link rel="stylesheet" href="{xiao:$site_template}css/swipebox.css">
<!--内大图--> 

{xiao:template left.html}
<div class="cplb">

        <div id="try"></div>
        <ul id="box-container">
        <div class="row">
          {xiao:list catid=$catid page=$page}
          <li class="box col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> <div class=" cp1"><a href="{xiao:function.image($xiao[thumb])}" class="swipebox" title="{xiao:$xiao['title']}"> <img src="{xiao:function.image($xiao[thumb])}" alt="image"> </a> <br />
          <a href="{xiao:$xiao['url']}">{xiao:$xiao['title']}</a>
          </div>
          </li>
          {/xiao:list}
        </div>
        </ul>

  <div class="clear"></div>
  <div class="xiaocms-page">{xiao:$pagelist}</div>
</div>
</div>
</div>
</div>
</div>
<!--底部--> 
<script src="{xiao:$site_template}js/ios-orientationchange-fix.js"></script>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="{xiao:$site_template}js/jquery.swipebox.js"></script>
<script type="text/javascript">
	$( document ).ready(function() {

			/* Basic Gallery */
			$( '.swipebox' ).swipebox();
			
			/* Video */
			$( '.swipebox-video' ).swipebox();

			

      });
	</script>
{xiao:template footer.html}