					<div class="lfxsgs2">

					    <a href="{xiao:$cats[5][url]}"><div class="ab1">

					        <span>subsidtiary<br>company</span>

					        下属公司<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>

					<div class="lflxwm2">

					    <a href="{xiao:$cats[7][url]}"><div class="ab1">

					        <span>contact<br>us</span>

					        联系我们<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>

					<div class="lfcpyc2">

					    <a href="{xiao:$cats[6][url]}"><div class="ab1">

					        <span>talents<br>wanted</span>

					        诚聘英才<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>
<div class="db">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

                <div class="dnav">

                    {xiao:nav catid=1}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=2}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=3}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=4}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=5}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=6}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=7}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    <p>

                        {xiao:block 3}

                    </p>

                </div>



            </div>

            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">

                <a href="javascript:;" class="w_x"><img src="{xiao:$site_template}images/db1.png" target="_blank"> </a>

                <a href="{xiao:block 5}"><img src="{xiao:$site_template}images/db2.png" target="_blank"> </a>

                <a href="http://wpa.qq.com/msgrd?v=3&uin={xiao:block 6}&site= qq&menu=yes;"><img src="{xiao:$site_template}images/db3.png" target="_blank"> </a>

                <div class="e_m">

                    <div class="n_r">

                        <img src="{xiao:block 4}">

                        <p>扫一扫关注公众号</p>

                    </div>

                </div>

            </div>

            <div class="col-6 col-sm-6 col-md-1 col-lg-1 col-xl-1">

                <img src="{xiao:block 4}">

            </div>

            <div class="col-6 col-sm-6 col-md-1 col-lg-1 col-xl-1">

                <p>鸿燊建筑集团<br>扫一扫，了解更多</p>

            </div>

        </div>

    </div>

</div>

<script>

    jQuery(".xwqh").slide({});

</script>

<!-- Initialize Swiper -->

</body>

</html>

