{xiao:template header.html}

<!--轮播图-->

<div class="swiper-container sy_ban wow fadeIn" data-wow-delay=".2s">

    <div class="swiper-wrapper">

    	{xiao:list catid=8 num=5 cache=0}

        <div class="swiper-slide" style="background:url({xiao:function.image($xiao[thumb])}) no-repeat center / cover;"><a ></a></div>

        {/xiao:list}

    </div>

    <div class="swiper-button-prev"></div>

    <div class="swiper-button-next"></div>

    <div class="lbm">

        <div class="container">

            <div class="row">

                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="lbm1">

                        产业结构<span>Industrial</span><br>

                        坚持以“诚信”为宗旨

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l1.png">

                        建筑安装

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l2.png">

                        酒店宾馆

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l3.png">

                        建筑机械

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l4.png">

                        装潢装饰

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l5.png">

                        房地产业

                    </div>

                </div>

                <div class="col-4 col-sm-4 col-md-1 col-lg-1 col-xl-1">

                    <div class="lbm2">

                        <img src="{xiao:$site_template}images/l6.png">

                        更多产业

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!--关于我们-->

<div class="sygy">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

                <div class="gy1">

                    关于鸿燊

                    <span>about hongshen</span>

                    	{xiao:block 7}

                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">

                <div class="gy2">

                    <img src="{xiao:block 8}">

                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">

                <div class="gy3">

                  <div class="xwqh">

                            <div class="hd">

                                <ul>{xiao:nav parentid=3 }<li>{xiao:$xiao['catname']}</li>{/xiao:nav}</ul>

                            </div>

                            <div class="bd">

                            	{xiao:nav parentid=3 }

                                <ul>

                                	{xiao:list catid=$xiao[catid] num=1 cache=0 status=3 }

                                    <li class="bd1">

                                        <div class="rq">

                                            <span>{xiao:function.date("d", $xiao['time'])}</span>

                                            {xiao:function.date("Y.m", $xiao['time'])}

                                        </div>

                                        <a href="">

                                            <span>{xiao:$xiao['title']}</span>

                                            <p>{xiao:function.strcut($xiao[description],666)}</p>

                                        </a>

                                    </li>

                                     {/xiao:list}

                                    <div class="clear"></div>

                                    {xiao:list catid=$xiao[catid] num=5 cache=0 status=1 }

                                    <li><span class="date">{xiao:function.date("Y.m.d", $xiao['time'])}</span><a href="{xiao:$xiao['url']}" target="_blank">{xiao:$xiao['title']}</a></li>

                                    {/xiao:list}

                                </ul>

                                {/xiao:nav}

                            </div>

                        </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!--工程案例-->

    <script type="text/javascript" src="{xiao:$site_template}static/js/8644b254c3614ee9a048ddf385f9520d.js"></script>
    <script>

        new WOW().init();

    </script>
<div class="syal">

    <div class="container">

        <div class="bt">

            <span>工程案例</span>Engineering case

        </div>

        <div class="row">

        	<!--{xiao:list catid=4 num=5 cache=0 status=3}-->

         <!--   <div class="co1">-->

         <!--       <div class="al1">-->

         <!--           <a href="{xiao:$xiao['url']}"><img src="{xiao:function.image($xiao[thumb])}"> </a>-->

         <!--           <div class="almb">-->

         <!--               <a href="{xiao:$xiao['url']}">-->

         <!--                   <span>{xiao:$xiao['title']}</span>-->

         <!--                   <p>{xiao:function.strcut($xiao[description],666)}</p>-->

         <!--                   <img src="{xiao:$site_template}images/jt.png">-->

         <!--               </a>-->

         <!--           </div>-->

         <!--       </div>-->

         <!--   </div>-->

         <!--   {/xiao:list}-->
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
                <link href="{xiao:$site_template}static/css/gss.css" rel="stylesheet" type="text/css" />
            
            
            
            <div id="c_portalResProduct_list-15813828277427729" class="c_portalResProduct_list-01001011"> 
                            <script type="text/javascript">$(function(){$('[id*="PhotoList_k"] ul').lightGallery({});});</script>
                            <link type="text/css" rel="stylesheet" href="{xiao:$site_template}static/css/rbqbhvy9xyieltygaaaaaejcm9i116.css" />
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbhvy9vvaesgoyaaaaamsscke4328.js"></script> 
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbg1y9vxseufhiaaaaaehao6m8353.js"></script> 
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbhvy9vwqebf1raaaaajjhwt81399.js"></script> 
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbg1y9vyseezsyaaaaacrafye1690.js"></script> 
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbhvy9vxmexe_9aaaaajmuxk44181.js"></script> 
                            <script type="text/javascript" src="{xiao:$site_template}static/js/rbqbg1y9vzseesujaaaaahwcevc8782.js"></script>
                            <input type="hidden" class="listAddUrl" value="&gototype=add&productType=0&backType=picview&proshowcaseId=&proparentId=&appId=">
                            <input type="hidden" class="listModifyUrl" value="&proparentId=&appId=">
                            <div class="PhotoList_k1" id="PhotoList_k1">
                                  <ul class="e_box p_products ">
                                 
                                {xiao:list catid=4 num=5 cache=0 status=3}

                                    <div class="co1" data-src="{xiao:function.image($xiao[thumb])}">
                        
                                        <div class="al1">
                        
                                            <a href="javascript:;"><img src="{xiao:function.image($xiao[thumb])}"  class="img-responsive" > </a>
                        
                                            <div class="almb">
                        
                                                <a href="javascript:;">
                        
                                                    <span>{xiao:$xiao['title']}</span>
                        
                                                    <!--<p>{xiao:function.strcut($xiao[description],666)}</p>-->
                        
                                                    <img src="{xiao:$site_template}images/jt.png">
                        
                                                </a>
                        
                                            </div>
                        
                                        </div>
                        
                                    </div>

                                 {/xiao:list}
            
                              </ul>
                                </div>
                            <script type="text/javascript">
  $comp({
      textParams: {
          isCutOfName: true, //标题是否自动截取超长显示内容
          linesOfCutOfName: 1, //标题超出隐藏的行数设置
          isCutOfSummary: true, //概述是否自动截取超长显示内容
          linesOfCutOfSummary: 1, //概述超出隐藏的行数设置
          categorySummary: true, //分类概述是否自动截取超长显示内容
          categorySummaryMaxLen: 2 //分类概述超出隐藏的行数设置
      },
      picParams: {
          isOpenCutMode: true, //是否开启裁剪 不开启false
          isRate: true, //是否按比例裁剪
          widthOfRate: 1, //宽度的比率
          heightOfRate: 1, //高度的比率
          definedDefaultImage: false, //是否设置默认图片
          defaultImage: "", //设置默认图片的值
          appId: 2
      },
      ctx: "",
      appId: "2",
      productMode: "",
      requestParam:{"orderType":null,"xibcommonId":"9","appType":"productCateId","orderColumn":null,"productCateId":"9"},
      pageParam: {
          url: "/comp/portalResProduct/list.do?compId=portalResProduct_list-15813828277427729",
          appId: "2",
          turnPageType:"turnPage"
      },
      id: "portalResProduct_list-15813828277427729",
      lib: ["js/portalProduct/portalResProduct_list-01"],
      imageOpts: {
          "comp_w_size": "", //容器宽
          /*大图*/
          //列表类传值为空，避免图片外层盒子创建2次
          "box_img_style_0": null,
          "box_img_style_1": null,
          "box_img_style_2": null,

          "e_img_style_0": "e_image",
          "e_img_style_1": "e_image-000",
          "e_img_style_2": "p_image",
          "e_a_img_style_0": "e_link",
          "e_a_img_style_1": "e_link-000",
          "e_a_img_style_2": "p_linkB",
          "e_a_txt_style_0": "e_link",
          "e_a_txt_style_1": "e_link-000",
          "e_a_txt_style_2": "p_linkA",

          //大图宽高比例
          "img_scale_x": "4", //宽
          "img_scale_y": "3", //高
          "img_transition": "fade", //图片动画效果
          "img_speed": 1000, //效果显示速度
          "img_easing": "easeOutQuart", //动画效果

          //大图高清裁剪, 普通：normal; 高清： hd; 裁剪: cut; 高清和裁剪： both;
          "img_display_type": "cut",
          "box_nav_style_1": "e_box-000",
          "box_nav_style_0": "e_box",
          "box_nav_style_2": "p_ThumbnailBox",
          "e_nav_img_style_1": "e_ProductRelationImg-001",
          "e_nav_img_style_0": "e_relationimg",
          "e_nav_img_style_2": "p_thumbnail",
          "nav_display_status": true, //规格图是否显示，true-显示，false-隐藏
          "nav_type": "block",
          "nav_img_display_type": "cut", // 显示状态， 普通：normal; 高清： hd; 裁剪: cut; 高清和裁剪： both;
          //规格图宽高比例
          "nav_scale_x": "4", //宽
          "nav_scale_y": "3", //高
          "nav_display_num": "6", //焦点图显示数量
          "nav_position": "center", //焦点小图位置
          "nav_display_padding": 10,
          "nav_step": 1, //切换个数
          "nav_hover": true,

          /*标记*/
          "box_tag_style_0": "e_box",
          "box_tag_style_1": "e_box-000",
          "box_tag_style_2": "p_TagBox",
          "e_img_tag_style_0": "e_image",
          "e_img_tag_style_2": "p_tag",
          "e_img_tag_style_1": "e_image-000",
          "img_tag_display": true, //true 显示标记，false 隐藏标记
          "shiftUpAnimSwitch": false, //是否显示轮播图dom true显示，false不显示
          "img_tag_display_type": "cut", //产品标记 显示状态， 普通：normal; 高清： hd; 裁剪: cut; 高清和裁剪： both;

          //移上动画的配置参数
          //图片遮罩层
          "box_shade_style_0": "e_MatteBox",
          "box_shade_style_1": "e_MatteBox-001",
          "box_shade_style_2": "p_matteA",
          //动画外层
          "box_animatOuter_style_0": "e_MatteBox",
          "box_animatOuter_style_1": "e_MatteBox-000",
          "box_animatOuter_style_2": "p_matte",

          //动画位置层
          "box_Position_style_0": "e_box",
          "box_Position_style_1": "e_PositionBox-001",
          "box_Position_style_2": "p_Position",

          "comp_type": "productList", //组件类型
      },
      sortParams: {
          "DEFAULT_SORT": {
              "v": "默认",
              "title": "默认",
              "style": ""
          },
          "PUBLISH_TIME": {
              "show": true,
              "v": "发布时间",
              "title": "按产品的发布时间进行排序",
              "style": ""
          },
          "PRODUCT_NAME": {
              "show": true,
              "v": " 产品名称",
              "title": "按照产品的名称进行排序",
              "style": ""
          },
          "PVS": {
              "show": false,
              "v": "浏览量",
              "title": "按产品的浏览量进行排序",
              "style": ""
          },
          "comment": {
              "show": false,
              "v": "评论数量",
              "title": "按照产品的评论数量进行排序",
              "style": ""
          },
          "PRODUCT_CODE": {
              "show": true,
              "v": "产品编号",
              "title": "按产品的编号进行排序",
              "style": ""
          }
      },
      styleId: "c_portalResProduct_list-01001011"
  });
</script> 
                            <script>$("div[id^='c_']").attr("loaded","true")</script> 
                          </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        </div>

    </div>

</div>

<!--about-->

<div class="syab">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                <a href="{xiao:$cats[2][url]}"><div class="ab1">

                    <span>company<br>culture</span>

                    企业文化<img src="{xiao:$site_template}images/jt2.png">

                </div></a>

            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                <a href="{xiao:$cats[5][url]}"><div class="ab1">

                    <span>subsidtiary<br>company</span>

                    下属公司<img src="{xiao:$site_template}images/jt2.png">

                </div></a>

            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                <a href="{xiao:$cats[6][url]}"><div class="ab1">

                    <span>talents<br>wanted</span>

                    诚聘英才<img src="{xiao:$site_template}images/jt2.png">

                </div></a>

            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                <a href="{xiao:$cats[7][url]}"><div class="ab1">

                    <span>contact<br>us</span>

                    联系我们<img src="{xiao:$site_template}images/jt2.png">

                </div></a>

            </div>

        </div>

    </div>

</div>

<!--底部-->

<div class="db">

    <div class="container">

        <div class="row">

            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

                <div class="dnav">

                    {xiao:nav catid=1}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=2}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=3}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=4}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=5}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=6}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    {xiao:nav catid=7}<a href="{xiao:$xiao['url']}">{xiao:$xiao['catname']}</a>{/xiao:nav}

                    <p>

                        {xiao:block 3}

                    </p>

                </div>



            </div>

            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">

                <a href="javascript:;" class="w_x"><img src="{xiao:$site_template}images/db1.png" target="_blank"> </a>

                <a href="{xiao:block 5}"><img src="{xiao:$site_template}images/db2.png" target="_blank"> </a>

                <a href="http://wpa.qq.com/msgrd?v=3&uin={xiao:block 6}&site= qq&menu=yes;"><img src="{xiao:$site_template}images/db3.png" target="_blank"> </a>

                <div class="e_m">

                    <div class="n_r">

                        <img src="{xiao:block 4}">

                        <p>扫一扫关注公众号</p>

                    </div>

                </div>

            </div>

            <div class="col-6 col-sm-6 col-md-1 col-lg-1 col-xl-1">

                <img src="{xiao:block 4}">

            </div>

            <div class="col-6 col-sm-6 col-md-1 col-lg-1 col-xl-1">

                <p>鸿燊建筑集团<br>扫一扫，了解更多</p>

            </div>

        </div>

    </div>

</div>

<script>

    jQuery(".xwqh").slide({});

</script>

<!-- Initialize Swiper -->

</body>

</html>

