{xiao:template header.html}
<!--内大图-->
<div class="nb">
    <img src="{xiao:$site_template}images/nb.jpg">
</div>
<!--内页-->
<div class="nm">
	<div class="container">
		<div class="join">
			<ul>
				     {xiao:list catid=$catid page=$page xiaocms=1}       
					<dl>
				        <div class="ti"> <span class="zy">{xiao:$xiao['title']}</span><span class="yzy"> {xiao:function.date("Y-m-d", $xiao['time'])}<a href="{xiao:$xiao['url']}">查看详情<img src="{xiao:$site_template}images/jt3.png"></a></span></div>
				    		<div class="text">
				    			<p>
									{xiao:function.htmlspecialchars_decode($xiao[content])}
									<a class="td"><img src="{xiao:$site_template}images/td.png">投递简历</a>
				    			</p>
				    		</div>
				      </dl>        
					{/xiao:list}
					  
			</ul>
			
 <div class="xiaocms-page">{xiao:$pagelist}</div>
		</div>
	</div>
</div>
<!--底部-->
{xiao:template footer.html}