<div class="nm">

	<div class="container">

		<div class="row">

			<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

				<div class="nmlf">

					<div class="nyj">

						{xiao:$cats[$cat[topid]][catname]}

					</div>
					<div class="nyj2">全部分类</div>
					<div class="nej">

						<ul>

                        	{xiao:nav parentid=$cat[topid]}

							<a href="{xiao:$xiao['url']}" class="{xiao:if $current}on{/xiao:if}"><li>{xiao:$xiao['catname']}<img src="{xiao:$site_template}images/jt3.png"></li></a>

                            {/xiao:nav}

						</ul>

					</div>

					<div class="lfxsgs">

					    <a href="{xiao:$cats[5][url]}"><div class="ab1">

					        <span>subsidtiary<br>company</span>

					        下属公司<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>

					<div class="lflxwm">

					    <a href="{xiao:$cats[7][url]}"><div class="ab1">

					        <span>contact<br>us</span>

					        联系我们<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>

					<div class="lfcpyc">

					    <a href="{xiao:$cats[6][url]}"><div class="ab1">

					        <span>talents<br>wanted</span>

					        诚聘英才<img src="{xiao:$site_template}images/jt2.png">

					    </div></a>

					</div>

				</div>

			</div>

			<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

				<div class="pos">

					<img src="{xiao:$site_template}images/zy.png"><a href="/" class="zy">首页</a>/{xiao:function.position($catid, ' / ')}

				</div>