{xiao:template header.html}

<!--内大图-->

{xiao:template left.html}

				<div class="cplb">

					<div class="row">

                    	{xiao:list catid=$catid page=$page}

						<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

							<div class="cp1">

								<div class="tpd"><a href="{xiao:$xiao['url']}"><img src="{xiao:function.image($xiao[thumb])}"></a></div>

								<a href="{xiao:$xiao['url']}">{xiao:$xiao['title']}</a>

							</div>

						</div>

                        {/xiao:list}

					</div>

                    <div class="clear"></div>

					<div class="xiaocms-page">{xiao:$pagelist}</div>

				</div>

			</div>

		</div>

	</div>

</div>

<!--底部-->

{xiao:template footer.html}