{xiao:template header.html}

<!--内大图-->

{xiao:template left.html}

				<div class="xwlb">

					<ul>

                    	{xiao:list catid=$catid page=$page}

                       

						<li><a href="{xiao:$xiao['url']}">{xiao:$xiao['title']}</a><span>{xiao:function.date("Y-m-d", $xiao['time'])}</span></li>



                        {/xiao:list}

					</ul>

				</div>

				<div class="clear"></div>

				<div class="xiaocms-page">{xiao:$pagelist}</div>

			</div>

		</div>

	</div>

</div>

<!--底部-->

{xiao:template footer.html}