{xiao:template header.html}
<!--内大图-->
{xiao:template left.html}
				<div class="nzw">
					<div class="nzwbt">{xiao:$cats[$catid][catname]} </div>
					{xiao:$content}
				</div>
			</div>
		</div>
	</div>
</div>
<!--底部-->
{xiao:template footer.html}