{xiao:template header.html}
<!--内大图-->
{xiao:template left.html}
				<div class="xwm">
					<div class="xwbt">
						<span>{xiao:$title}</span>
						时间：{xiao:function.date("Y-m-d H:i:s", $time)}   浏览次数：<font color="#FF0000"><script type="text/javascript" src="{xiao:function.url('api/hits',array('id'=>$id))}"></script> 
					</div>
                    <div style="width:100%; text-align:center;"><video src="{xiao:$shipin}" controls="controls" style="width: 100%;max-width: 100%;"></video></div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<!--底部-->
{xiao:template footer.html}