{xiao:template header.html}
<!--内大图-->
{xiao:template left.html}
				<div class="xsm">
					<ul>
					     {xiao:list catid=$catid page=$page xiaocms=1}     
					    <dl>
					        <div class="ti"> <span class="zy"><img src="{xiao:$site_template}images/jt4.png">{xiao:$xiao['title']}</span>  </div>
					    		<div class="text">
					    			{xiao:function.htmlspecialchars_decode($xiao[content])}
					    		</div>
					      </dl>
                    	{/xiao:list}      
					 </ul>
 <div class="xiaocms-page">{xiao:$pagelist}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--底部-->
{xiao:template footer.html}