@font-face {
font-family:iconfont;
src:url(/public/css/iconfont.eot?t=1596509594069);
src:url(../fonts/iconfont.eot) format('embedded-opentype'), url(../fonts/iconfont.woff2) format('woff2'), url(../fonts/iconfont.woff) format('woff'), url(../fonts/iconfont.ttf) format('truetype'), url(../fonts/iconfont.svg) format('svg')
}
@font-face {
font-family:iconfont;
src:url(../fonts/iconfont.eot);
src:url(../fonts/iconfont.eot) format('embedded-opentype'), url(../fonts/iconfont.woff) format('woff'), url(../fonts/iconfont.ttf) format('truetype'), url(../fonts/iconfont.svg#iconfont) format('svg')
}