/*shouye banner*/
#w_grid-1555913878171{ height:auto!important; min-height:0px!important;}
/*shouye banner*/





/*neiye-banner*/

#w_fimg-1555486086265{
min-height:0px;
}
#w_grid-1555467259889{
min-height:0px;
}
 #w_grid-1555493291659{min-height:0px;}
 #w_fimg-1555493463036{min-height:0px;}
 #content_box-1555493291659-0 div{min-height:0px!important;}

 #content_box-1555574741874-0 div{min-height:0px!important;}
 #w_grid-1555574741874 {min-height:0px!important;}
#w_fimg-1555575999953{min-height:0px;}


#w_common_text-1552630214835{background-color:rgba(0,0,0,0.5);padding-bottom:10px;}

/*neiye-banner-over*/





#c_portalResBreadcrumb_nav-15555697039993580{overflow:hidden;}
/*
.c_portalResProduct_detail-01001 .p_imagesA{display:none;}*/
#c_portalResProduct_detail-15555760776589698 .p_PriceBox{display:none;}
.c_portalResProduct_detail-01001 .d_NumberBox{display:none;}

#c_portalResProduct_detail-15555760776589698 .p_ProInfo{padding-left:0px!important;}
#c_portalResProduct_detail-15555760776589698 .d_TabTitleBox{display:none;}
.c_portalResProduct_detail-01001 .d_description{padding:0px!important;}

#c_portalResProduct_detail-15555760776589698 .p_ProSummary{display:none;}
#c_portalResProduct_detail-15555760776589698 .p_SortName{display:none;}
#c_portalResProduct_detail-15555760776589698 .p_ProName .font{ text-align:center;}
#c_portalResProduct_detail-15555760776589698 .p_interaction{display:none;}
#c_portalResProduct_detail-15555760776589698 .p_content{padding:0px!important;}

.btn-primary{
color: #fff;
    background-color: #ac0202;
    border-color: #ac0202;
}


@media only screen and (min-width: 769px){/*大屏*/
 
  #w_grid-1555465467451 div{
      overflow: visible!important;
  }
  
  
  
  .top-icons{
   float: left;
    padding-top: 5px;
}
.top-icons LI{
   position: relative;
    width: 25px;
    float: left;
}
.top-icons UL{
   position: relative;
    width:auto;
    float: left;
}
.top-icons LI A{
   z-index: 999999;
    position: relative;
    text-indent: -999px;
    width: 25px;
    display: block;
    white-space: nowrap;
    height: 25px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.top-icons LI A :hover{
   text-indent: -999px;
    width: 25px;
    padding-right: 10px;
    display: block;
    white-space: nowrap;
    height: 30px;
    overflow: hidden;
}
.top-icons LI.icon-mob-top{
   float: left;
    margin-left: 10px;
}
.top-icons LI.icon-mob-top A{
   background: url(../images/kc_top_weibo.png) no-repeat;
}
.top-icons LI.icon-mob-top A:hover{
   background: url(../images/kc_top_weibo011.png) no-repeat;
}
.top-icons LI.icon-al-top{
   margin-left: 10px;
}
.top-icons LI.icon-1-top{
   color: #949494;
    margin-left: 10px;
    font-size: 10px;
}
.top-icons LI.icon-1-top A{
 background: url(../images/kc_top_wx.png) no-repeat;
}
.top-icons LI.icon-1-top A:hover{
 background: url(../images/kc_top_wx011.png) no-repeat;
}
.top-icons LI.icon-al-top A{
   background: url(../images/kc_top_dh.png) no-repeat;
}
.top-icons LI.icon-al-top A:hover{
   background: url(../images/kc_top_dh011.png) no-repeat;
}
.top-icons LI.icon-al-top.mail A{
   background: url(../images/kc_top_mail.png) no-repeat;
}
.top-icons LI.icon-al-top.mail A:hover{
   background: url(../images/kc_top_mail011.png) no-repeat;
}
.querycode-pic{
   z-index: 99999;
    position: absolute;
    text-align: center;
    filter: alpha(opacity=0);
    width: 100px;
 display:none;
    height: 110px;
    top: 5px;
    padding-top: 0px;
    left: -38px;
    -moz-opacity: 0;
    opacity: 0;
    -khtml-opacity: 0;
}
.top-info{
   font-family: "微软雅黑";
    float: right;
    color: #949494;
    font-size: 12px;
    padding-top: 12px;
}
.top-info LI{
   position: relative;
    padding-left: 20px;
    float: right;
}
.top-info UL{
   position: relative;
}

  
}

@media only screen and (max-width: 768px){/*小屏*/

  #c_portalResIntro_category-15554712049950865{ margin-top:10px;}
  
  #c_portalResNews_list-15555704909411024{width:100%} 
  #w_grid-1555487250695{width:100%}
  
  #c_portalResCompanyFile_list-15554936391775584{width:100%}
  
  #c_portalResIntro_detail-15554712858910112{width:100%}
  
#c_portalResMember_login-15555539841535500{width:100%}
#c_portalResMember_account-15555570170823708{width:100%}
#c_portalResMember_info-15555546236388355{width:100%}
  
  #c_portalResIntro_detail-15554957558198777{width:100%}
  
  
#w_tabswitchbox-1554863854636{width:100%}
#c_portalResFriendlink_list-15537712223467091{
    width: 100%;
    max-width: none;
}

#c_portalResFriendlink_list-15548647195093735{
    width: 100%;
    max-width: none;
}
  
#c_portalResProduct_list-15555748725996057{width:100%}
#c_portalResProduct_detail-15555760776589698{width:100%;margin-top:0px;}
  #c_portalResFile_relatedlist-15555870461567335{width:100%}
   #c_portalResNews_list-15555868358510910{width:100%}
  
  
  
  
  /*shouye_xinwen*/
#w_common_text-1554807930889{width:100%;}

#w_grid-1555925805267{width:100%;}

#c_portalResNews_list-15559196167611839{width:100%;}
/*shouye_xinwen*/


/*shouye_chanpin*/
#w_common_text-1555926614981{width:100%;}

#c_portalResProduct_list-15559228419628423{width:100%;}

#w_grid-1554807930902{width:100%;}
/*shouye_chanpin*/
  
#w_grid-1555920174414{margin-top: 50px;}
  #w_grid-1552617469364{ margin-top: 0px}
#w_grid-1552617469364> div > .p_gridbox > .p_gridCell:nth-child(2n+0){ margin-top: 50px; }

#c_portalResNews_list-15559196167611839 .list:first-child{    margin-top: 30px; }
 
  #content_box-1552617469364-1{ display:none;}
  
/*dibu*/
#w_fimg-1552629681899{  margin: 0px auto; }
#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:100%;}
#w_fimg-1555581178447{  margin: 0px auto; }
#w_common_text-1552634734675{ display:none;}


#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%;   }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 50px!important; margin-top:30px!important;}

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%;  }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 25%;   }

/*dibu_over*/
  
/*moban_dibu*/ 
#w_fimg-1556160463839{  margin: 0px auto; }
#w_fimg-1556160463866{  margin: 0px auto; }
#w_common_text-1556160463869{ display:none;}
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:100%;}
  
  
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%; margin-bottom: 40px;  }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 20px!important; margin-top:30px!important; }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%; padding-left:0px; }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 20%;   }

/*moban_dibu_over*/ 
  
 /*手机调试*/ 
   #w_grid-1552612182951{width:100%;}
  #c_portalResIntro_detail-15561543309666398{ width:100%;}
  
#w_fimg-1555466274163{max-width:160px; margin-top:15px;}
#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     
    width: 20%;
    margin-left: 20px!important;}

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+3){     padding-left: 0px;}




#c_portalResNews_list-15559196167611839 .gyBox {
    height: 3rem;
    overflow: hidden;
    margin-bottom: 20px;
}


#w_grid-1552617469364 >.w_grid>.p_gridbox>.p_gridCell:first-child>.reset_style{ max-width:100%;}
#w_common_text-1552617469369{margin-left:0px;}
#w_common_text-1552617469376{margin-left:0px;}

  
#w_grid-1552617469378{     margin-left: 0px;    margin-right: 0px;}
#w_grid-1552617469378 >.w_grid>.p_gridbox>.p_gridCell:nth-child(2){ margin-left:10px;}
#w_grid-1552617469378 >.w_grid>.p_gridbox>.p_gridCell:nth-child(3){ margin-left:10px;}
 .w_fbtn-001 .p_CommonBtn .font{font-size: 12px;margin-top: 10px;}
  #w_grid-1555471959380> div > .p_gridbox > .p_gridCell:nth-child(2n+1){
  width: 70%;   }
  
  #w_fimg-1555577160606{max-width:160px;}
  


  

#c_portalResEbizads_banner-15559139100092674{    margin-top: 0px;}
  #w_common_text-1552617469369{ margin-top:20px;}
  #w_grid-1555925805267{     margin-bottom: 0px; }
  
  #c_portalResProduct_list-15559228419628423{margin-top:0px;}
  
  #w_grid-1556004759758{display:none;}
  #w_grid-1556160463829{margin-top:0px; }
  #w_fimg-1556160463839{max-width:200px;}
  
  #c_portalResProduct_list-15555748725996057{margin-top:30px;}
  #w_grid-1555489468972> div > .p_gridbox > .p_gridCell:nth-child(2n+1){width:75%;}
  
  #w_grid-1555489468972> div > .p_gridbox > .p_gridCell:nth-child(2n+0){
      margin-top: 10px;
  
  }
  #w_fimg-1555493966475{margin-top:40px;}
  #w_grid-1555569597941{ min-height: 70px;}
  /*.w_grid-001 > div > .p_gridbox{ overflow:visible;}
  
  */
  
  #w_grid-1552612182951{
    position: relative;
    top: 0px;
    left: 0px;
    transform:none;
    -webkit-transform:none;
}
  #w_grid-1555913908924{margin-top:0px;}
  
  .c_portalResProduct_detail-01001 .d_DescriptionBoxA img{width:100%;}
  .c_portalResProduct_detail-01001 .p_imagesA{ margin-bottom:20px;}
  
  #w_common_text-1556160463837{padding:0px 40px;}
  
  #w_common_text-1555636896464{padding:0px 40px;}
  
  #w_grid-1555465493299> div > .p_gridbox > .p_gridCell:nth-child(2n+1){width: 85%;}
  
  #w_grid-1556249275833{width:100%;}
  
  #w_grid-1556270514278{width:100%;}
  
  #w_grid-1566200591986{max-width: 280px!important; float:left!important; margin-left: 10px!important;}
 /*手机调试*/ 
  

#w_fline-1552629681888{ display:none!important;}
  #w_grid-1565238356420{     min-height: auto!important;}
div#content_box-1565230626382-1 {    display: none!important;}
div#content_box-1565231665123-1 {    display: none!important;}
  #w_fimg-1565231693008{    max-width: 280px!important; margin-bottom:10px!important; margin-left:10px!important;}
#c_portalResnav_main-15537685517018377{
min-height: 49px!important;
background-color: #ac0202!important;
}
 #w_grid-1565231665123{
    height: 55px!important;
    margin-bottom: 0px!important;
} 
  
html, body{background:none;}

#w_grid-1566178505870{display:none;}
#w_grid-1555920174385{display:none;}
#w_grid-1555922712252{display:none;}
#w_grid-1560767379562{display:none;}
#w_grid-1554807996083{clear:left;}
#w_grid-1566179845649{display:none!important;}


#content_box-1566179845649-1 {
    margin: 10px auto!important;
}
#content_box-1566177035645-1{display:none!important;}
#content_box-1566182054032-2{display:none!important;}
  #w_fimg-1560768822038{ display:none!important; }
  .c_portalResFriendlink_list-01001 .p_LinkA{display:none;}
  #c_portalResNews_list-15661763693398835 .container{margin: 0.1rem auto;}

  #c_portalResNews_list-15661763693398835 .newList1{padding: 20px!important;
    background-image:none!important;
  background-color:#f0f0f0!important;
  }
  #c_portalResNews_list-15661763693398835 .newSummry{height:50px!important;}
  #c_portalResNews_list-15661763693398835 .newList1 .newSummry{width:100%!important;}
  #c_portalResNews_list-15661763693398835 .newList1 .newTitle{font-size:22px!important;}

  
  #w_grid-1566200542949{ display:none!important; }
  
  .c_portalResEbizads_banner-01001 .swiper-wrapper .swiper-slide img{
  height:240px!important;
  } 
  #w_grid-1566202861313{ margin-top: 0px!important;}

#w_grid-1566202362414{ margin-top: 0px!important;}

#w_grid-1566205781197{ margin-top: 0px!important;}

#w_grid-1566205435548{ margin-top: 0px!important;}

#w_grid-1566205506027{ margin-top: 0px!important;}

#w_grid-1555485415723{ margin-top: 0px!important;}
#w_grid-1566204945048{ margin-top: 0px!important;}

#w_grid-1566205734859{ margin-top: 0px!important;}
#w_grid-1566205781197{ margin-top: 0px!important;}
  #c_portalResNews_detail-15555870052742721 .newsTitle{ font-size: 1.5rem!important;}
  #content_box-1566209427897-0{display:none!important;}
  #content_box-1566209578460-0{display:none!important;}
  
  #c_portalResFriendlink_list-15661826476612267 .p_articles{width: calc((100% - 30px)/2)!important;margin-left: 5px!important;}
  #content_box-1560768488254-2 img {
    width: 94%!important;
    margin: 0px auto!important;
}
 
  #w_fvideo-1560768488264{ margin-left:10px!important;}
  #w_grid-1566179845649 img {
    width: 94%!important;
    margin: 0px auto;
}
  
.newsarticles video{ width:100%!important}
  
#w_grid-1566176495889{ width:100%!important; margin-top:10px!important;}
#c_portalResNews_list-15661785092690173{ width:94%!important; margin-left:10px!important;}

#c_portalResNews_list-15661789833231089{ width:94%!important; margin-left:10px!important;}


#c_portalResNews_list-15661801027417879{ width:94%!important; margin-left:10px!important;margin-top:10px!important;}

#c_portalResNews_list-15661803633247362{ width:94%!important; margin-left:10px!important;}

#c_portalResNews_list-15661821405257423{ width:94%!important; margin-left:10px!important;}
#c_portalResNews_list-15661821519938872{ width:94%!important; margin-left:10px!important;}


#c_portalResFriendlink_list-15661826476612267{ width:94%!important; margin-left:10px!important;}

.c_portalResFriendlink_list-01001 .p_links{padding: 15px 0px!important;}
  
}


@media only screen and (max-width: 1024px) and (min-width: 769px){/*中屏*/
  
  #c_portalResNews_list-15555704909411024{width:100%} 
  #w_grid-1555487250695{width:100%}
  
  
  #c_portalResCompanyFile_list-15554936391775584{width:100%}
  
  #c_portalResIntro_detail-15554712858910112{width:100%}
  
  #c_portalResMember_login-15555539841535500{width:100%}
#c_portalResMember_account-15555570170823708{width:100%}
#c_portalResMember_info-15555546236388355{width:100%}
  
  #c_portalResIntro_detail-15554957558198777{width:100%}
  
  
#w_tabswitchbox-1554863854636{width:100%}
#c_portalResFriendlink_list-15537712223467091{
    width: 100%;
    max-width: none;
}

#c_portalResFriendlink_list-15548647195093735{
    width: 100%;
    max-width: none;
}
  
#c_portalResProduct_list-15555748725996057{width:100%}
  #c_portalResProduct_detail-15555760776589698{width:100%}
  
  #c_portalResFile_relatedlist-15555870461567335{width:100%}
   #c_portalResNews_list-15555868358510910{width:100%}
  
  
  
  /*shouye_xinwen*/
#w_common_text-1554807930889{width:100%;}

#w_grid-1555925805267{width:100%;}

#c_portalResNews_list-15559196167611839{width:100%;}
/*shouye_xinwen*/


/*shouye_chanpin*/
#w_common_text-1555926614981{width:100%;}

#c_portalResProduct_list-15559228419628423{width:100%;}

#w_grid-1554807930902{width:100%;}
/*shouye_chanpin*/
  
#w_grid-1555920174414{margin-top: 50px;}

#w_grid-1552617469364> div > .p_gridbox > .p_gridCell:nth-child(2n+0){ margin-top: 50px; }

#c_portalResNews_list-15559196167611839 .list:first-child{    margin-top: 30px; }
  
/*dibu*/
#w_fimg-1552629681899{  margin: 0px auto; }
#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:15%;}
#w_fimg-1555581178447{  margin: 0px auto; }
#w_common_text-1552634734675{ display:none;}


#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%; margin-bottom: 40px;  }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 60px!important; margin-top:0px!important;}

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%;  }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 20%;   }

/*dibu_over*/ 
  
  /*moban_dibu*/ 
#w_fimg-1556160463839{  margin: 0px auto; }
#w_fimg-1556160463866{  margin: 0px auto; }
#w_common_text-1556160463869{ display:none;}
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:15%;}

  
  
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%; margin-bottom: 40px;  }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 60px!important;margin-top:10px!important; }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%;  }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 20%;   }

/*moban_dibu_over*/ 
  
   #w_grid-1552612182951{width:100%;}
  #c_portalResIntro_detail-15561543309666398{ width:100%;}
  
}


@media only screen and (max-width: 1280px) and (min-width: 1024px){/*中中屏*/
  
  #c_portalResNews_list-15555704909411024{width:100%} 
  #w_grid-1555487250695{width:100%}
  
  
  #c_portalResCompanyFile_list-15554936391775584{width:100%}
  
  #c_portalResIntro_detail-15554712858910112{width:100%}
  
  
#c_portalResMember_login-15555539841535500{width:100%}
#c_portalResMember_account-15555570170823708{width:100%}
#c_portalResMember_info-15555546236388355{width:100%}
  
  #c_portalResIntro_detail-15554957558198777{width:100%}
  
  
#w_tabswitchbox-1554863854636{width:100%}
#c_portalResFriendlink_list-15537712223467091{
    width: 100%;
    max-width: none;
}

#c_portalResFriendlink_list-15548647195093735{
    width: 100%;
    max-width: none;
}
  
#c_portalResProduct_list-15555748725996057{width:100%}
  #c_portalResProduct_detail-15555760776589698{width:100%}
  
  #c_portalResFile_relatedlist-15555870461567335{width:100%}
  #c_portalResNews_list-15555868358510910{width:100%}
  
  
  
  /*shouye_xinwen*/
#w_common_text-1554807930889{width:100%;}

#w_grid-1555925805267{width:100%;}

#c_portalResNews_list-15559196167611839{width:100%;}
/*shouye_xinwen*/


/*shouye_chanpin*/
#w_common_text-1555926614981{width:100%;}

#c_portalResProduct_list-15559228419628423{width:100%;}

#w_grid-1554807930902{width:100%;}
/*shouye_chanpin*/
  
  
#w_grid-1555920174414{margin-top: 50px;}

#w_grid-1552617469364> div > .p_gridbox > .p_gridCell:nth-child(2n+0){ margin-top: 50px; }

#c_portalResNews_list-15559196167611839 .list:first-child{    margin-top: 30px; }

/*shouye_dibu*/
#w_fimg-1552629681899{  margin: 0px auto; }
#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:15%;}
#w_fimg-1555581178447{  margin: 0px auto; }
#w_common_text-1552634734675{ display:none;}


#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%; margin-bottom: 40px;  }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 60px!important; margin-top:30px!important;}

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%;  }

#w_grid-1552629681880> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 20%;   }

/*shouye_dibu_over*/ 

  
  
/*moban_dibu*/ 
#w_fimg-1556160463839{  margin: 0px auto; }
#w_fimg-1556160463866{  margin: 0px auto; }
#w_common_text-1556160463869{ display:none;}
  
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n){ width:15%;}

  
  
#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+1){     width: 92%; margin-bottom: 40px;  }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+2){     width:20%;  margin-left: 60px!important; margin-top:10px!important; }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+3) {    width: 25%;  }

#w_grid-1556160463829> div > .p_gridbox > .p_gridCell:nth-child(5n+4) {    width: 20%;   }

/*moban_dibu_over*/ 
  
  #w_grid-1552612182951{width:100%;}
  #c_portalResIntro_detail-15561543309666398{ width:100%;}
  
}
