@charset "utf-8";







/* CSS Document */















body {margin: 0px;font-size: 12px;color: #333333; font-family:Arial, Helvetica, sans-serif; }







* {padding: 0px;margin: 0px;}







body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, select, button, th, td {margin: 0;padding: 0;font-family: 'zt1';/* font-weight:200; */}







h1, h2, h3, h4, h5, h6 {font-size: 12px;list-style: none;font-weight: normal;}







input, select {font: 100% Helvetica, Tahoma, Arial, "Microsoft YaHei","微软雅黑"}







button {overflow: visible}







img {border: none;max-width: 100%;}







.container{ max-width: 1400px}







@font-face



{



    font-family: zt1;



    src: url(../fonts/siyuanhei.ttf);



}



a {







    /* color: #333333; */







    text-decoration: none;







    font-size: 12px;







    outline: none;







    font-family:"微软雅黑";







    transition:all .5s;







    -moz-transition: all .5s; /* Firefox 4 */







    -webkit-transition:all .5s; /* Safari 和 Chrome */







    -o-transition: all .5s; /* Opera */







}







a:hover{ text-decoration:none}







li {list-style: none;}







input, select, button {font: 12px Verdana, Arial, Tahoma;vertical-align: middle;}







.clear {clear: both;}







.lf {float: left;}







.rt {float: right;}







.m {max-width: 1400px;margin: 0px auto;}







.my{width: 1050px;margin: 0px auto;}







.mm {margin-top:60px;}











.red{ margin-bottom:15px;}







.red a{ font-size:12px!important;}







.aa{ color:#b5001b!important;}







.e_m{width:100%; height:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,.9); z-index:99999; display:none;}







.e_m .n_r{width:200px; padding:10px; background-color:#fff; position:absolute; top:50%; left:50%; text-align:center;







    transform:translate(-50%,-50%);







    -webkit-transform:translate(-50%,-50%);







    -moz-transform:translate(-50%,-50%);







    -ms-transform:translate(-50%,-50%);







    -o-transform:translate(-50%,-50%);}







.e_m .n_r img{width:100%; height:auto; display:block;}







.e_m .n_r p{font-size:15px; color:#888; margin-top:10px;}







.tpd {







    width: 100%;







    height: auto;







    overflow: hidden;







    position:  relative;







}







.tpd img {







    max-width: 100%;







    transition: all .5s;







    -moz-transition: all .5s; /* Firefox 4 */







    -webkit-transition: all .5s; /* Safari 和 Chrome */







    -o-transition: all .5s; /* Opera */







    cursor: pointer;







}







.tpd img:hover {







    transform: scale(1.1)







}



.tpd {







    width: 100%;







    height: auto;







    overflow: hidden;







    position:  relative;







}







.tpd2 img {







    max-width: 100%;







    transition: all .5s;







    -moz-transition: all .5s; /* Firefox 4 */







    -webkit-transition: all .5s; /* Safari 和 Chrome */







    -o-transition: all .5s; /* Opera */







    cursor: pointer;







}







.tpd2 img:hover {







    transform: rotateY(360deg);



    -webkit-transform: rotateY(360deg);



    -moz-transform: rotateY(360deg);



    -ms-transform: rotateY(360deg);



    -o-transform: rotateY(360deg);







}







/*导航*/



.nyj2{ display:none;}



.header{width:100%;left:0;z-index:999;}







.header.on{/* position:fixed; *//* top:0; *//* box-shadow:0 0 5px #aaa; */}







.header img{height:auto;}







.header .row{







    position:relative;







    margin: 0;



}







.sjdh{







    display:none;}







.e_j2{display: none;}







.header .logo{width: 223px;float:left;padding-top: 15px;}







.header .an{position:absolute;top: 0;right:15px;height:14px;width:24px;display:none;}







.header .an span{







    width: 35px;







    height: 5px;







    background-color: #102076;







    display:block;







    position:absolute;







    transition:all .5s;







    -o-transition:all .5s;







    -ms-transition:all .5s;







    -moz-transition:all .5s;







    -webkit-transition:all .5s;



}







.header .an span.a1{top: -9px;left:0;}







.header .an span.a2{top: 3px;left:0;}







.header .an span.a3{top: 15px;left:0;}







.header .an.n span.a2{display:none;}







.header .an.n span.a1{







    top: 0;







    width: 30px;







    transform:rotate(45deg);







    -o-transform:rotate(45deg);







    -ms-transform:rotate(45deg);







    -moz-transform:rotate(45deg);







    -webkit-transform:rotate(45deg);







}







.header .an.n span.a3{







    top: 0px;







    width: 30px;







    transform:rotate(135deg);







    -o-transform:rotate(135deg);







    -ms-transform:rotate(135deg);







    -moz-transform:rotate(135deg);







    -webkit-transform:rotate(135deg);







}







.header .nav{text-align: right;width: 100%;display: unset;padding-left: 103px;}







.header .nav i{font-size:12px; color:#ddd; line-height:46px; text-align:right; position:absolute; width:50%; height:46px; right:15px; top:0; display:none;}







.header .nav ul li{height: 48px;font-size:15px;text-align: center;float:left;position:relative;line-height: 50px;}



.header .nav ul .on .y_j{



     background: linear-gradient(#1f36a7, #0e1d6e);



}



.header .nav ul .on .y_j a{



    color:#fff!important;



}



.header .nav ul li:first-of-type .y_j{



    padding:0 25px;



}











.header .nav ul li a.o_lm{line-height: 48px;color: #666666;font-size: 18px;}

@media only screen and (max-width:1376px){

.header .nav ul li a.o_lm{line-height: 116px;color: #666666;font-size: 12px;}

.header .nav{ padding-left:0px}

.sc a{

    font-size: 12px!important;

}

.e_j a{

    font-size:12px!Important;

}

}



.header .nav ul li:hover .y_j{



    background: linear-gradient(#1f36a7, #0e1d6e);



}



.header .nav.on{
    background: linear-gradient(#1f36a7, #0e1d6e);
}
.header .nav.on .o_lm{
    top: 0px;color: #fff;
}


.header .nav ul li:hover a.o_lm{top: 0px;color: #fff;}







.header .nav .y_j{position:relative;overflow: hidden;padding: 0 13px;}







.y_j em{ margin-left:10px; color:#333333}







.header .nav .e_j{width: 160px;background-color: #333333;position:absolute;margin-left: 0;display:none;z-index:9999;padding: 0;left: -26%;right: 0;top: 52px;}







.header.on .nav .e_j{box-shadow:0 2px 2px #aaa; color:#fff}







.header .nav .e_j .e_lm a{display:block; font-size:14px; color:#555; line-height:36px;}







.header .nav .e_j .e_lm:hover a{background-color:#ff7110; color:#fff;}







.header .nav ul li:hover .e_j{display:block;padding: 0;}



.e_j .container{padding:0px}



.header .nav .e_j .e_lm{position:absolute ;}







.header .nav .e_j .e_lm em{font-size:12px; color:#aaa; line-height:36px; text-align:right; position:absolute; height:36px; right:15px; top:0; z-index:999; display:block;}







.header .nav .e_j .e_lm:hover em{color:#fff;}







.sjdh{/* display:block */}







.sjdh em{ padding:15px 10px ; float:right; color:#fff;}







.sjdh a{font-size:14px;color:#fff;padding-left: 15px;border: none;}







.header .nav .e_j .e_lm a{border-top:0; font-size:12px; color:#aaa; line-height:32px;}







.nav ul{width:100%;height:auto;margin-bottom: 0px;}







.header .nav span{width:0;height: 5px;background-color: #5eb2ff;display:block;position:absolute;top:0;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;}







.header .nav ul li:hover span{width:100%;}







.ss{margin-top:  20px;}







.ss input{width: 100px;border: 1px solid #f7be16;border-radius: 50px;padding: 15px;text-align:  center;color: #f7be16;margin-left: 45px;}







.ss input::-webkit-input-placeholder{ color:#f7be16; font-size:16px;}















.eyj{







    text-align: left;







    font-size: 16px;







    color: #666666;







}







.eyj a{







    font-size: 16px;







    color: #666666;







    border-left: 5px solid;







    padding-left: 10px;







}







.eej{height: auto;overflow: hidden;background: #333333;display: none;width: 100%;z-index: 99;position: absolute;padding: 35px 0;}



.eej hr{



    width: 100%;



    background: #5c5c5c;



    margin: 30px 0;



}



.eej ul{width: 28%;float: left;padding: 0;margin-left:4%;}



.eej ul:nth-of-type(2){margin-left: 10%;width: 33%;}



.eej ul:nth-of-type(3){margin-left: 2%;width: 22%;}



.eej img{



    display: unset;



}



.eej p{width: 100%;font-size: 18px;color: #17233d;font-weight: bold;height: 100%;text-align: left;}



.eej ul li{line-height: 30px!important;height: 50px!important;font-size: 16px!important;width: 100%;text-align: left!important;}







.eej li a{font-size: 16px;margin-left: 5px;color: #17233d;}







.ebt{







    text-align: left;







    font-size: 14px;







    color: #ff7110;







    border-bottom: 1px solid #666666;







    width: 80%;







}







.ebt a{







    color: #ff7110;







    font-size: 14px;







}







.cpdh{}



.cpdh .col-5{ padding:0;}



.cpdh .col-7{padding: 20px 0;}



.cpbt{



    font-size: 20px;



    color: #fff;



    margin-bottom: 15px;



    text-overflow: ellipsis;



    white-space:nowrap;



    overflow:hidden;



}







@media (max-width:640px){







    .ss{margin-top:  20px;}







    .ss input{width: 100%;border: 1px solid #f7be16;border-radius: 0;padding: 15px;text-align:  center;color: #f7be16;margin-left: 0;}







    .ss input::-webkit-input-placeholder{ color:#f7be16; font-size:16px;}







    .eyj{







        text-align: left;







        font-size: 16px;







        color: #666666;







    }







    .eyj a{







        font-size: 16px;







        color: #fff;







        border-left: none;







        padding-left: 0;







        font-weight: bold;







    }







    .eej{}







    .eej li{}







    .eej li a{







        color: #666666;







        font-size: 12px;







        padding-left: 25px;







    }







    .ebt{







        text-align: left;







        font-size: 14px;







        color: #ff7110;







        border-bottom: 1px solid #666666;







        width: 80%;







    }







    .ebt a{







        color: #ff7110;







        font-size: 13px;







        padding-left: 20px;







    }







}



.e_j a{display:block;font-size: 16px;color: #000;line-height:46px;width: 100%;margin: 0;border-bottom: 1px solid #cccccc;}



.e_j a:hover{background-color: #0e1d6e;color: #fff;}







@media (max-width:320px){



    .e_j a{display:block;font-size:14px;color:#fff;line-height:46px;width: 85%;margin: 5px auto;}



    .e_j a:hover{background-color:#bb0000;}



    .ss{margin-top:  20px;}







    .ss input{width: 100%;border: 1px solid #f7be16;border-radius: 0;padding: 15px;text-align:  center;color: #f7be16;margin-left: 0;}







    .ss input::-webkit-input-placeholder{ color:#f7be16; font-size:16px;}



    .p_products li img{display:block;margin:auto;height: 70px !important;margin-bottom: 15px;}



}







@media (min-width:992px){







    .header .nav ul li{padding: 0;height: 110px;}







    .header .nav .e_j{display:none !important;margin: 0;}







    .header .nav .e_j .s_j{display:none !important;}







    .header .nav ul li:hover .e_j{display:block !important;overflow: hidden;margin-top: 63px;background-color: #fff;padding: 0;}







    .header .nav .e_j .e_lm:hover .s_j{display:block !important;}







    .e_j .row{margin-bottom: 10px;}







}







@media (min-width:1200px){







    .header .nav ul li{padding: 0;line-height: 115px;height: 115px;}







}







@media only screen and (max-width: 992px){







    .header{top:0;height: 50px;background: none;}







    .header .logo{width:auto; margin:0 0 0 15px;}







    .header .logo img{width:auto;}







    .header .hd{display:none;}







    .header .xz{display:none;}







    .header .zy{margin:0; position:absolute; right:45px; top:10px; font-size:12px; line-height:14px;}







    .header .an{display:block;right: 15px;top: 35px;}







    .header .nav{







        width:50%;







        padding:15px 5%;







        background-color: #0e1e71;







        height:100%;







        position: fixed;







        margin:0;







        top:0;







        display: block!important;







        left:-50%;







        overflow:auto;







        transition:all .5s;







        -o-transition:all .5s;







        -ms-transition:all .5s;







        -moz-transition:all .5s;







        -webkit-transition:all .5s;







    }







    .e_j2{display: block;}







    .header .nav .y_j{ width:100%;}



    .header .nav .y_j:hover{border:none}



    .e_j a{font-size:12px;padding-left: 10px;color: #fff;}



    .header .nav.on{left:0;z-index: 999;}







    .header .nav i{display:block;float:  right;}







    .y_j em{ display:none}







    .header .nav ul li{width:100%;height:auto;font-size:14px;text-align:left;border-bottom: none;float:none;margin-right:0;background: none;}



    .header .nav ul li:hover {



        background: none



    }







    .header .nav ul li a.o_lm{color:#ddd;}







    .header .nav ul li:hover a.o_lm{color:#ddd; border-bottom:0;}







    .header .nav ul li.on a.o_lm{background:none; color:#fff;}







    .header .nav .e_j{width:100%;border: none;background:none;position:relative;top:auto;left:auto;margin:0;padding-bottom: 0;box-shadow: 0 0 0 0!important;}







    .header .nav .e_j .container{ display:none;}







    .sjdh{ display:block}







    .sjdh a{font-size:14px;color:#fff;padding-left: 15px;border: none;}







    .header .nav .e_j .e_lm a{border-top:0; font-size:12px; color:#aaa; line-height:32px;}







    .header .nav .e_j .e_lm:hover a{background:none;}







    .header .nav ul li:hover .e_j{display:none;padding: 0;}







    .header .nav .e_j .e_lm em{color:#ddd; line-height:32px; text-align:right; width:50%; height:32px;}







    .header .nav .e_j .e_lm:hover em{color:#fff;}







    .header .nav .e_j .s_j{width:100%; border-top:1px solid #444; border-bottom:1px solid #444; border-left:0; background:none; position:relative; display:none; top:auto; right:auto; margin-bottom:10px;}







    .header .nav .e_j .e_lm:hover .s_j{display:none;}







    .header .nav .e_j .e_lm:hover .s_j a{background:none; color:#aaa;}







    .header .nav .e_j .e_lm:hover .s_j a:hover{background:none;}







    .header .nav ul li a.o_lm{ line-height:50px}







}







.head_h{width:100%; height:97px; background-color:#fff;}







@media only screen and (max-width:992px){







    .head_h{height:64px;}







}







@media only screen and (max-width:640px){







    .header .nav ul li a.o_lm{ font-size:13px;}







}











.logo{width: 100%;height: 105px;line-height: 105px;background: white;z-index: 1000;position: relative;}







.logo1{}















.logo3 button {







    width: 15px;







    height: 15px;







    border: none;















}







.logo3 form{position: absolute;right: 0;top: 50%;border-radius: 15px;padding: 5px;display: none;}







.banner{margin:0 auto;width: 100%;}







.banner img{ width:100%;}







@media only screen and (max-width:640px){







    .logo{width: 100%;height: auto;line-height: 30px;padding: 0;background: #fff;position: relative;}







    .logo1{



        padding: 15px;



    }



    .logo1 img{height:50px;}



















    .logo3 form{}







    .banner{margin:0 auto;width: 100%;}







    .banner img{ width:100%;}



}



@keyframes move{0%{-webkit-transform: translateY(0px);} 50%{-webkit-transform: translateY(10px);} 100%{-webkit-transform: translateY(0px);}}







/*轮播图*/







.sy_ban{width:100%;height: 660px;position: relative;}







.sy_ban a{display:block; width:100%; height:100%;}







.sy_ban span{



}







.sy_ban .swiper-slide{



}



.sy_ban .swiper-button-prev{







    background:no-repeat;







    width: 53px;







    height: 53px;







    left: 60px;







    margin-top:-15px;







    background-size:16px 30px;















    -webkit-background-size:16px 30px;







    -moz-background-size:16px 30px;







    -ms-background-size:16px 30px;







    -o-background-size:16px 30px;







    background: url(../images/lf.png);







    margin: 0;







    outline: none;







    transform: translateY(-50%);



}







.sy_ban .swiper-button-next{







    background:no-repeat;







    width: 53px;







    height: 53px;







    right: 60px;







    margin-top:-15px;







    background-size:16px 30px;







    -webkit-background-size:16px 30px;







    -moz-background-size:16px 30px;







    -ms-background-size:16px 30px;







    -o-background-size:16px 30px;







    background: url(../images/rt.png);







    outline: none;







    margin: 0;







    transform: translateY(-50%);



}







.sy_ban .swiper-pagination-bullet{width:10px;







    height:10px;







    display: inline-block;







    border-radius: 100%;







    border:2px solid #fff;







    opacity:1;







    background:none;







}







.sy_ban .swiper-pagination-bullet-active{ background:#fff;  opacity: 1}







@media only screen and (max-width:992px){







    .sy_ban{height: 34vh;position: unset;top: 150px;}



    .sy_ban .swiper-wrapper{



    }



    .sy_ban .swiper-button-next



    {



        position: relative;



        top: -50%;



        z-index: 999;



        right: 0;



        float: right;



    } .sy_ban .swiper-button-prev{



          left:0;



          position: relative;



          top: -50%;



          z-index: 999;



          float: left;



      }







}







@media only screen and (max-width:320px){







    .sy_ban{height:12rem;}







}







.y_c{float:right;height: 45px;padding-top: 7px;}







.y_c a{width: 32px;border-radius:50%;text-align:center;height: 32px;font-size:15px;line-height: 32px;color: #528fdf;display:block;float:left;margin-left:10px;background: #fff;transition:all .5s;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;}







.y_c a:hover{background-color:#ffd700;  color:#fff;}















@media only screen and (max-width:640px){







    .y_c{ display:none;}







    .hda{height: 50px;}







    .logo2{display: block;position: absolute;bottom: 15px;}







    .logo3 form{display: none;left: 0;width: 70%;top: 8px;height: 30px;background: #f0f3f8;padding: 0;padding-left: 10px;}







    .logo2 form{







        top: 100%;







    }







    .logo3 input {width: 80%;border: none;height: 80%;outline: none;background: #f0f3f8;}







}







.hda{



    width:  100%;



}



.sc{







    width: 100%;







    padding-left: 20px;







    background: url(../images/xian.jpg)left center no-repeat;



}



.sc a{



    color: #172a8b!important;



    font-size: 17px;



    margin-left: 5px;



    vertical-align: middle;



    font-family: 'zt1';



}



.sc img{



    vertical-align:middle



}



.hda n .an span{top:8px;







    transform:rotate(135deg);







    -o-transform:rotate(135deg);







    -ms-transform:rotate(135deg);







    -moz-transform:rotate(135deg);







    -webkit-transform:rotate(135deg);}















.logo2 .search {



    width: 230px;



    background-color: #fff;



    border: 3px solid #ffd100;



    overflow: hidden;



    position: absolute;



    top: 112px;



    display: none;



    z-index: 9999;



    display: none;



}



.logo2 .search input {



    width: 170px;



    height: 38px;



    padding: 0 5px;



    line-height: 38px;



    color: #555;



    display: block;



    float: left;



    border: none;



    outline: none;



}



.logo2 .search button {



    width: 54px;



    height: 38px;



    background-color: #ffd100;



    font-size: 18px;



    line-height: 36px;



    text-align: center;



    color: #fff;



    float: right;



    border: 1px solid #dedede;



}



@media only screen and (max-width:992px){



    .logo2 .search {



        width: 100%;







        background-color: #fff;



        border: 3px solid #00509f;



        overflow: hidden;



        position: absolute;



        right: 0;



        top: 67%;



        display: none;



    }



    .logo2 .search input {



        width: 100%;



        height: 38px;



        padding: 0 5px;



        line-height: 38px;



        color: #555;



        display: block;



        float: left;



    }



    .logo2 .search button {



        width: 100%;



        height: 38px;



        background-color: #00509f;



        font-size: 18px;



        line-height: 36px;



        text-align: center;



        color: #fff;



        float: none;



    }



    .sc{



        width: 100%;



        float: left;



        background: none;



        padding: 0;



    }



    .logo2 {



        width:60%;



        display: none;



    }



}



@media only screen and (max-width:320px){



    .logo2 .search {



        width: 100%;



        background-color: #fff;



        border: 3px solid #00509f;



        overflow: hidden;



        position: absolute;



        right: 0;



        top: 83%;



        display: none;



    }







}



.xiaocms-page {font-family: "微软雅黑";padding: 5px;text-align: center;margin: 50px auto;overflow: hidden;}



.xiaocms-page a {



    color: #666666;



    font-size: 17px;



    margin: 0;



    display: inline-block;



    width: 33px;



    height: 35px;



    line-height: 35px;



    background: #fff;



    border-radius: 5px;



}







.xiaocms-page a:hover {



    color: #fff;



    background: #c8c8c8;



}



.xiaocms-page span {



    font-size: 16px;



    color: #fff;



    width: 33px;



    height: 35px;



    display: inline-block;



    line-height: 35px;



    background: #dd1c3d;



    border-radius: 5px;



    margin: 0 5px;



}







.lbm{



    width: 100%;



    background: rgba(0,0,0,.5);



    position: absolute;



    bottom: 0;



    z-index: 9999;



    padding: 20px 0;



}



.lbm .col-xl-1{



    padding: 20px 0;



    margin:0 20px;



    color: #fff;



    font-family: 'zt1';



    font-size: 20px;



}



.lbm1{



    color: #fff;



    font-family: 'zt1';



    font-size: 28px;



}



.lbm1 span{



    color: #fff;



    font-size: 19px;



    margin-left: 15px;



}



.lbm2{



    float: right;



    text-align: center;



    color: #fff;



    cursor: pointer;



}



.lbm2 img{



    display: block;



    margin: auto;



    transition:all .5s ;



    -moz-transition: all .5s; /* Firefox 4 */



    -webkit-transition:all .5s; /* Safari 和 Chrome */



    -o-transition: all .5s; /* Opera */



}







.lbm2:hover img{



    transform: rotateY(360deg);



    -webkit-transform: rotateY(360deg);



    -moz-transform: rotateY(360deg);



    -ms-transform: rotateY(360deg);



    -o-transform: rotateY(360deg);



}



@media only screen and (max-width:992px){



    .lbm{



        width: 100%;



        background: #102177;



        bottom: 0;



        z-index: 66;



        padding: 10px 0;



        position: unset;



    }



    .lbm .col-xl-1{



        padding: 0;



        margin: 0;



        color: #fff;



        font-family: 'zt1';



        font-size: 12px;



        text-align: center;



    }



    .lbm1{



        color: #fff;



        font-family: 'zt1';



        font-size: 20px;



        text-align: center;



        margin-bottom: 10px;



    }



    .lbm1 span{



        color: #fff;



        font-size: 13px;



        margin-left: 15px;



    }



    .lbm2{



        float: unset;



        text-align: center;



        color: #fff;



        cursor: pointer;



        margin-bottom: 10px;



    }



    .lbm2 img{



        display: block;



        margin: auto;



        transition:all .5s ;



        -moz-transition: all .5s; /* Firefox 4 */



        -webkit-transition:all .5s; /* Safari 和 Chrome */



        -o-transition: all .5s; /* Opera */



    }







    .lbm2:hover img{



        transform: rotateY(360deg);



        -webkit-transform: rotateY(360deg);



        -moz-transform: rotateY(360deg);



        -ms-transform: rotateY(360deg);



        -o-transform: rotateY(360deg);



    }



}



/*关于我们*/



.sygy{



    width:100%;



    padding:65px 0;



}



.gy1{



    font-size: 28px;



    color: #172a8b;



    font-family: 'zt1';



}



.gy1 span{



    text-transform: uppercase;



    display: block;



    font-size: 26px;



    font-weight: bold;



    color: #adadad;



}



.gy1 p{



    font-size: 16px;



    color: #888888;



    line-height: 30px;



    margin: 15px 0;



}



.gy2{



    width: 100%;



    height: 100%;



}



.gy2 img{



    display:block;



    width:100%;



    height:100%;



}



.gy3{



    width: 100%;



    height: auto;



    overflow: hidden;



    position: relative;



    padding: 40px 0 0 20px;



}



.xwqh{



    width: 100%;



}



.xwqh .hd{



    width: 100%;



    height: auto;



}



.xwqh .hd ul{border-bottom: 3px solid #dedede;position: relative;width: 100%;}



.xwqh .hd ul li{display:inline-block;margin-right: 20px;font-size: 20px;color: #666666;padding: 10px 0;position: absolute;bottom: -3px;margin: auto;border-bottom: 3px solid #dedede;}



.xwqh .hd ul li:nth-of-type(2){



    left: 100px;



}



.xwqh .hd ul li:nth-of-type(3){



    left: 200px;



}



.xwqh .hd .on{border-bottom: 3px solid #192e94;}



.xwqh .bd{



    padding: 10px 0;



}



.bd ul{}



.bd ul li{



    font-size: 16px;



    color: #777777;



    line-height: 30px;



}



.bd ul li .rq{



    width: 20%;



    background: #1e34a2;



    text-align: center;



    padding: 23px 0;



    font-family: 'zt1';



    color: #ffffff;



    font-size: 16px;



    float: left;



    margin-right: 15px;



}



.bd ul li .rq span{



    font-size: 30px;



    padding: 0;



    color: #fff;



}



.bd1{}



.bd1 span{



    font-size: 20px;



    display: block;



    padding: 10px 0;



    color: #000;



}



.bd1 p{



    font-size: 16px;



    color: #888888;



    overflow: hidden;



    display:-webkit-box;



    line-clamp:2;



    -webkit-line-clamp:2;



    -moz-line-clamp:2;



    -ms-line-clamp:2;



    -o-line-clamp:2;



    -webkit-box-orient: vertical;



}



.bd ul li .date{



    margin-right: 15px;



}



.bd ul li a{



    color: #777777;



    font-size: 16px;



}



.bd1 a:before{



    display: none;



}



.bd ul li a:before{



    content:"●";



    font-size: 12px;



    vertical-align: top;



    margin-right: 5px;























}



@media only screen and (max-width:992px){



    .sygy{







        width:100%;



        padding: 15px 0;



    }



    .gy1{



        font-size: 18px;



        color: #172a8b;



        font-family: 'zt1';



    }



    .gy1 span{



        text-transform: uppercase;



        display: block;



        font-size: 16px;



        font-weight: bold;



        color: #adadad;



    }



    .gy1 p{



        font-size: 14px;



        color: #888888;



        line-height: 30px;



        margin: 15px 0;



    }



    .gy2{



        width: 100%;



        height: 100%;



    }



    .gy2 img{



        display:block;



        width:100%;



        height:100%;



    }



    .gy3{



        width: 100%;



        height: auto;



        overflow: hidden;



        position: relative;



        padding: 40px 0;



        margin-top: 20px;



    }



    .xwqh{



        width: 100%;



    }



    .xwqh .hd{



        width: 100%;



        height: auto;



    }



    .xwqh .hd ul{border-bottom: 3px solid #dedede;position: relative;width: 100%;}



    .xwqh .hd ul li{display:inline-block;margin-right: 20px;font-size: 18px;color: #666666;padding: 10px 0;position: absolute;bottom: -3px;margin: auto;border-bottom: 3px solid #dedede;}



    .xwqh .hd ul li:nth-of-type(2){left: 95px;}



    .xwqh .hd ul li:nth-of-type(3){left: 184px;}











    .xwqh .hd .on{border-bottom: 3px solid #192e94;}



    .xwqh .bd{



        padding: 10px 0;



    }



    .bd ul{}



    .bd ul li{





        font-size: 16px;



        color: #777777;



        line-height: 30px;



        margin: 5px 0;



    }



    .bd ul li .rq{



        width: 25%;



        background: #1e34a2;



        text-align: center;



        padding: 20px 0;



        font-family: 'zt1';



        color: #ffffff;



        font-size: 14px;



        float: left;



        margin-right: 15px;



    }



    .bd ul li .rq span{



        font-size: 24px;



        padding: 0;



        color: #fff;



    }



    .bd1{}



    .bd1 span{



        font-size: 14px;



        display: block;



        padding: 5px 0;



        color: #000;



    }



    .bd1 p{



        font-size: 12px;



        color: #888888;



        overflow: hidden;



        display:-webkit-box;



        line-clamp:2;



        -webkit-line-clamp:2;



        -moz-line-clamp:2;



        -ms-line-clamp:2;



        -o-line-clamp:2;



        -webkit-box-orient: vertical;



    }



    .bd ul li .date{



        margin-right: 15px;



    }



    .bd ul li a{



        color: #777777;



        font-size: 14px;



    }



    .bd1 a:before{



        display: none;



    }



    .bd ul li a:before{



        content:"●";



        font-size: 10px;



        vertical-align: top;



        margin-right: 5px;



    }



}



/*首页案例*/



.syal{



    width: 100%;



    height: auto;



    overflow: hidden;



    background: #f8f8f8;



    padding: 60px 0;



}



.bt{



    width: 100%;



    padding: 15px;



    font-size: 24px;



    color: #adadad;



    line-height: 30px;



    text-transform: uppercase;



    font-weight: bold;



}



.bt span{



    display: block;



    color: #172a8b;



    font-size: 28px;



    font-weight: bold;



}



.syal .co1{



    overflow: hidden;



    width: 19.5%;



    margin: auto;



    display: inline-block;



}



.syal .al1{



    width: 100%;



    height: auto;



    overflow: hidden;



    position: relative;



}



.syal .al1 img{



}



.almb{



    width: 100%;



    height: 100%;



    background: rgba(0,0,0,.5);



    position: absolute;



    top: 0;



    opacity: 0;



    transition: all .5s;



    -moz-transition: all .5s; /* Firefox 4 */



    -webkit-transition:all .5s; /* Safari 和 Chrome */



    -o-transition: all .5s; /* Opera */



    padding: 70px 30px;



    color: #fff;



}



.syal .al1:hover .almb{



    opacity:1



}



.almb span{



    color: #fff;



    font-size: 20px;



}



.almb p{



    color: #fff;



    font-size: 16px;



    margin: 10px 0;



}



.almb img{}



/*首页关于*/



.syab{



    width: 100%;



    padding: 60px 0;



}



.ab1{



    width: 100%;



    background: url(../images/ab1.png)top center no-repeat;



    padding: 35px;



    color: #fff;



    font-size: 24px;



    cursor:pointer;















    background-repeat: no-repeat!important;



    transition:all .5s ;



    -moz-transition: all .5s; /* Firefox 4 */



    -webkit-transition:all .5s; /* Safari 和 Chrome */



    -o-transition: all .5s; /* Opera */



}



.ab1:hover{



    transform: scale(0.97)



}



.ab1 img{



    margin-left:5px



}



.ab1 span{



    display: block;



    font-size: 27px;



    text-transform: uppercase;



    line-height: 30px;



}



.syab .col-xl-3:nth-of-type(2) .ab1{



    background:url(../images/ab2.png);



}



.syab .col-xl-3:nth-of-type(3) .ab1{



    background:url(../images/ab3.png);



}



.syab .col-xl-3:nth-of-type(4) .ab1{



    background:url(../images/ab4.png);



}







/*底部*/



.db{



    width: 100%;



    height: auto;



    overflow: hidden;



    background: #0f2074;



    padding: 30px 0;



}



.db .col-xl-8{}



.db .dnav{



    width: 100%;



    margin-bottom: 20px;



}



.db .dnav a{



    padding: 0 10px;



    color: #fff;



    background: url(../images/xian.jpg) right no-repeat;



    font-size: 18px;





}



.db .dnav a:last-of-type{



    background:none;





}



.db .dnav p{



    font-size: 15px;



    color: rgba(255,255,255,.8);



    margin-top: 20px;



    padding: 10px;



}



.db .col-xl-2{



    padding: 35px 0;



    text-align: center;



}



.db .col-xl-2 a{



    margin:0 5px ;



}



.db .col-xl-1{



    padding: 0;



}



.db .col-xl-1 p {







    font-size: 14px;







    color: #576dda;







    padding: 30px 0;



}



@media only screen and (max-width:992px){



    /*首页案例*/



    .syal{



        width: 100%;



        height: auto;



        overflow: hidden;



        background: #f8f8f8;



        padding: 30px 0;



    }



    .bt{



        width: 100%;



        padding: 15px;



        font-size: 20px;



        color: #adadad;



        line-height: 30px;



        text-transform: uppercase;



        font-weight: bold;



    }



    .bt span{



        display: block;



        color: #172a8b;



        font-size: 24px;



        font-weight: bold;



    }



    .syal .co1{overflow: hidden;width: 46%;margin: 5px;}



    .syal .co1:last-of-type{



        display:none;



    }



    .syal .al1{width: 100%;height: auto;overflow: hidden;position: relative;text-align: center;}



    .syal .al1 img{



    }



    .almb{



        width: 100%;



        height: 100%;



        background: rgba(0,0,0,.5);



        position: absolute;



        top: 0;



        opacity: 0;



        transition: all .5s;



        -moz-transition: all .5s; /* Firefox 4 */



        -webkit-transition:all .5s; /* Safari 和 Chrome */



        -o-transition: all .5s; /* Opera */



        padding: 15px;



        color: #fff;



    }



    .syal .al1:hover .almb{



        opacity:1



    }



    .almb span{



        color: #fff;



        font-size: 16px;



    }



    .almb p{



        color: #fff;



        font-size: 14px;



        margin: 10px 0;



    }



    .almb img{}



    /*首页关于*/



    .syab{



        width: 100%;



        padding: 30px 0;



    }



    .ab1{



width: 100%;



background: url(../images/ab1.png)top center no-repeat;



padding: 15px;



color: #fff;



font-size: 14px;



cursor:pointer;



background-repeat: no-repeat!important;



transition:all .5s;



-moz-transition: all .5s; /* Firefox 4 */



-webkit-transition:all .5s; /* Safari 和 Chrome */



-o-transition: all .5s; /* Opera */



text-align: center;



}



    .ab1:hover{



        transform: scale(0.97)



    }



    .ab1 img{



        margin-left:5px



    }



    .ab1 span{



        display: block;



        font-size: 14px;



        text-transform: uppercase;



        line-height: 25px;



    }



    .syab .col-xl-3:nth-of-type(2) .ab1{



        background: url(../images/ab2.png)top center;



    }



    .syab .col-xl-3:nth-of-type(3) .ab1{



        background: url(../images/ab3.png)top center;



    }



    .syab .col-xl-3:nth-of-type(4) .ab1{



        background: url(../images/ab4.png)top center;



    }







    /*底部*/



    .db{



        width: 100%;



        height: auto;



        overflow: hidden;



        background: #0f2074;



        padding: 30px 0;



    }



    .db .col-xl-8{}



    .db .dnav{



        width: 100%;



        margin-bottom: 20px;



    }



    .db .dnav a{



        padding: 0 7px;



        color: #fff;



        background: none;



        font-size: 16px;



        width: 33%;



        display: inline-block;



        margin: 5px 0;



        text-align: center;



        font-size: 14px;



    }



    .db .dnav a:last-of-type{



        background:none;



    }



    .db .dnav a:nth-of-type(4){



        background:none



    }



    .db .dnav p{



        font-size: 13px;



        color: rgba(255,255,255,.8);



        margin-top: 15px;



        padding: 10px;



    }



    .db .col-xl-2{



        padding: 15px 0;



        text-align: center;



    }







    .db .col-xl-2 a{



        margin:0 5px ;



    }



    .db .col-xl-1{







        padding: 0;



        text-align: center;



        display: none;



    }



    .db .col-xl-1 p {







        font-size: 14px;







        color: #576dda;







        padding: 30px 0;



        text-align:left



    }



}



/*内页*/



.lfxsgs{margin-top: 15px;}



.lfxsgs .ab1{



    



background: url(../images/ab2.png)top center no-repeat;



}



.lflxwm .ab1{







background: url(../images/ab4.png)top center no-repeat;



}



.lfcpyc .ab1{







background: url(../images/ab3.png)top center no-repeat;



}



.nm{



    width: 100%;



    height: auto;



    overflow: hidden;



    padding: 50px 0;



}



.nm	.col-xl-3{}



.nm .col-xl-9{}



.nmlf{



    max-width: 277px;



    height: auto;



    overflow: hidden;



}



.nyj{



    width: 100%;



    height: auto;



    background: linear-gradient(#1f36a7, #0e1d6e);



    font-size: 26px;



    color: #fff;



    padding: 15px 35px;



}



.nej{



    width: 100%;



    border: 1px solid #e6e6e6;



}



.nej ul{}



.nej ul li{



    border: 1px solid #e6e6e6;



    padding: 15px 35px;



    color: #777777;



    font-size: 18px;



}



.nej ul li:hover{



    color:#1b309a



}



.nej ul li img{



    float: right;



    margin-top: 10px;



}



.pos{



    width: 100%;



    border-bottom: 1px solid #e8e8e8;



    padding: 15px 0;



}



.pos img{



    margin-right: 8px;



}



.pos a{font-size:17px;vertical-align: middle;margin: 0 3px;color: #777777;}



.pos .zy{



    color:#a3a3a3;



}



.nzw{



    width: 100%;



    height: auto;



    overflow: hidden;



    padding: 20px 0;



    font-size: 17px;



    color: #888888;



}



.nzwbt{



    width: 100%;



    text-align: center;



    padding: 25px 0;



    font-size: 28px;



    color: #172a8b;



}



.nzw p{



    line-height: 45px;



}



.nzw img{ max-width: 100%;}



.lfcpyc2{display:none}



.lflxwm2{display:none}



.lfxsgs2{ display:none}



@media only screen and (max-width:992px){



.lfxsgs2 .ab1{



    



background: url(../images/ab2.png)top center no-repeat;



}



.lflxwm2 .ab1{background: url(../images/ab4.png)top center no-repeat;padding: 15px;}



.lfcpyc2 .ab1{







background: url(../images/ab3.png)top center no-repeat;



}



.lflxwm{ display:none;}



.lfcpyc{ display:none;}    



.lfxsgs{margin-top: 15px;display: none;}



.lflxwm2{display:block;padding: 5px;width: 33%;float: left;}



.lfcpyc2{display: inline-block;padding: 5px;width: 34%;float: left;}    



.lfxsgs2{display: block;padding: 10px;width: 33%;float: left;padding: 5px;}



.lfxsgs .ab1{



    



background: url(../images/ab2.png)top center no-repeat;



}



.lflxwm .ab1{







background: url(../images/ab4.png)top center no-repeat;



}



.lfcpyc .ab1{







background: url(../images/ab3.png)top center no-repeat;



}



.nm{



    width: 100%;



    height: auto;



    overflow: hidden;



    padding: 15px 0;



}



.nm	.col-xl-3{}



.nm .col-xl-9{}



.nmlf{



    max-width: 100%;



    height: auto;



    overflow: hidden;



}



.nyj{



    width: 100%;



    height: auto;



    background: linear-gradient(#1f36a7, #0e1d6e);



    font-size: 16px;



    color: #fff;



    padding: 10px 35px;



}



.nyj2{width: 40%;line-height:35px;background:#1f36a7;text-align:center;color:#fff;margin:5px 0;display:block;}



.nej{



    width: 100%;



    border: 1px solid #e6e6e6;



    display: none;



}



.nej ul{}



.nej ul li{



    border: 1px solid #e6e6e6;



    padding: 10px 35px;



    color: #777777;



    font-size: 14px;



}



.nej ul li:hover{



    color:#1b309a



}



.nej ul li img{



    float: right;



    margin-top: 10px;



}



.pos{



    width: 100%;



    border-bottom: 1px solid #e8e8e8;



    padding: 15px 0;



}



.pos img{



    margin-right: 8px;



}



.pos a{font-size: 15px;vertical-align: middle;margin: 5px 3px;color: #777777;}



.pos .zy{



    color:#a3a3a3;



}



.nzw{



    width: 100%;



    height: auto;



    overflow: hidden;



    padding: 20px 0;



    font-size: 14px;



    color: #888888;



}



.nzwbt{



    width: 100%;



    text-align: center;



    padding: 15px 0;



    font-size: 20px;



    color: #172a8b;



}



.nzw p{



    line-height: 35px;



}



.nzw img{ max-width: 100%;}



}



/*联系我们*/



.nlx{



    width: 100%;



    height: auto;



    padding: 40px 0;



}



.nlx img{



    border-radius:10px



}



.lx1{}



.lxbt{



    font-size: 31px;



    color: #172a8b;



}



.lx1 span{



    font-size: 24px;



    color: #333333;



    font-weight: bold;



    display: block;



    margin: 10px 0;



}



.lx1 p{



    color: #555555;



    font-size: 18px;



    line-height: 33px;



}



.lxly{



    width: 100%;



    margin: 40px 0;



}



.lxly .col-xl-4{



    padding:0 8px



}



.lxly .col-xl-3{



    margin: 40px auto;



    text-align:center;



}



.lxly .col-xl-12{



    padding: 0 8px;



}



.lxly input{



    width: 100%;



    border-radius: 10px;



    padding: 10px 15px;



    color: #888888;



    font-size: 18px;



    border: 1px solid #dbdbdb;



    outline: none;



}



.lxly button{



    width: 100%;



    margin: auto;



    font-size: 22px;



    background: #0f2074;



    border-radius: 30px;



    color: #fff;



    outline: none;



    border: none;



    padding: 15px 0;



    cursor: pointer;



    transition: all .3s;



    -moz-transition: all .3s; /* Firefox 4 */



    -webkit-transition: all .3s; /* Safari 和 Chrome */



    -o-transition: all .3s; /* Opera */



}



.lxly button:hover{



    box-shadow: 0 0 15px 0px #000;



}



.lxly textarea{



    width: 100%;



    border-radius: 11px;



    padding: 15px 15px;



    margin: 15px auto;



    border: 1px solid #dbdbdb;



    resize: none;



    font-size: 18px;



    line-height: 30px;



    min-height: 180px;



}



@media only screen and (max-width:992px){



.nlx{



    width: 100%;



    height: auto;



    padding: 15px 0;



}



.nlx img{



    border-radius:10px



}



.lx1{}



.lxbt{



    font-size: 24px;



    color: #172a8b;



}



.lx1 span{



    font-size: 18px;



    color: #333333;



    font-weight: bold;



    display: block;



    margin: 10px 0;



}



.lx1 p{



    color: #555555;



    font-size: 14px;



    line-height: 33px;



}



.lxly{



    width: 100%;



    margin: 15px 0;



}



.lxly .col-xl-4{



    padding:0 8px;



    margin: 10px 0;



}



.lxly .col-xl-3{



    margin: 20px auto;



    text-align:center;



}



.lxly .col-xl-12{



    padding: 0 8px;



}



.lxly input{



    width: 100%;



    border-radius: 10px;



    padding: 10px 15px;



    color: #888888;



    font-size: 16px;



    border: 1px solid #dbdbdb;



    outline: none;



}



.lxly button{



    width: 100%;



    margin: auto;



    font-size: 18px;



    background: #0f2074;



    border-radius: 30px;



    color: #fff;



    outline: none;



    border: none;



    padding: 10px 0;



    cursor: pointer;



    transition: all .3s;



    -moz-transition: all .3s; /* Firefox 4 */



    -webkit-transition: all .3s; /* Safari 和 Chrome */



    -o-transition: all .3s; /* Opera */



}



.lxly button:hover{



    box-shadow: 0 0 15px 0px #000;



}



.lxly textarea{



    width: 100%;



    border-radius: 11px;



    padding: 10px 15px;



    margin: 15px auto;



    border: 1px solid #dbdbdb;



    resize: none;



    font-size: 16px;



    line-height: 30px;



    min-height: 180px;



}



}



/*新闻*/



.xwlb{



    width: 100%;



    padding: 15px 0;



}



.xwlb .xw1{width: 100%;margin: 30px 0;}



.xwlb .xw1 span{



    font-size: 22px;



    color: #333333;



    font-weight: bold;



    float: unset;



}



.xwlb .xw1 p{



    font-size: 17px;



    color: #888888;



    line-height: 30px;



    margin-top: 10px;



}



.xwlb ul{}



.xwlb ul li{



    border-bottom: 1px dashed;



    line-height: 50px;



    min-height: 50px;



    font-weight: lighter;



}



.xwlb ul li:first-of-type{





}



.xwlb ul li span{



    float: right;



    font-size: 14px;




    color: #555555;



    width: 10%;



}



.xwlb ul li a{



    font-size: 18px;



    color: #555555;



    width: 85%;



    text-overflow: ellipsis;



    white-space:nowrap;



    overflow:hidden;



    float: left;



}



.xwm{



    width: 100%;



    height: auto;



    padding: 35px 0;



}



.xwbt{



    text-align: center;



    margin-bottom: 20px;



    color: #777777;



    font-size: 18px;



}



.xwbt span{



    font-size: 34px;



    color: #333333;



    display: block;



    text-align: center;



    margin-bottom: 20px;



}



.xwm p{



    font-size: 16px;



    font-weight: lighter;



    color: #555555;



    line-height: 30px;



}



@media only screen and (max-width:992px){







.xwlb{



    width: 100%;



    padding: 0;



}



.xwlb .xw1{width: 100%;margin: 15px 0;}



.xwlb .xw1 span{



    font-size: 18px;



    color: #333333;



    font-weight: bold;



    float: unset;



}



.xwlb .xw1 p{



    font-size: 14px;



    color: #888888;



    line-height: 30px;



    margin-top: 10px;



}



.xwlb ul{}



.xwlb ul li{



    border-bottom: 1px dashed;



    line-height: 50px;



    min-height: 50px;



    font-weight: lighter;



}







.xwlb ul li span{float: right;font-size: 12px;color: #555555;width: 26%;}



.xwlb ul li a{



    font-size: 14px;



    color: #555555;



    width: 65%;



    text-overflow: ellipsis;



    white-space:nowrap;



    overflow:hidden;



    float: left;



}



.xwm{



    width: 100%;



    height: auto;



    padding: 35px 0;



}



.xwbt{



    text-align: center;



    margin-bottom: 15px;



    color: #777777;



    font-size: 14px;



}



.xwbt span{



    font-size: 20px;



    color: #333333;



    display: block;



    text-align: center;



    margin-bottom: 15px;



}



.xwm p{



    font-size: 14px;



    font-weight: lighter;



    color: #555555;



    line-height: 35px;



}



}



/*产品*/



.cplb{



    width: 100%;



    padding: 20px 0;



}



.cplb .col-xl-3{



    padding: 0 5px;



}



.cp1{



    width: 100%;



    background: #f6f6f6;



    padding: 15px;



    margin: 12px 0;



    text-align: center;



}



.cp1 .tpd{



    margin-bottom:10px



}



.cp1 a{



    color: #777777;



    font-size: 18px;



}



.cplb .cp1 img{



	margin-bottom:10px



	}



@media only screen and (max-width:992px){



.cplb{



    width: 100%;



    padding: 15px 0;



}



.cplb .col-xl-3{



    padding: 0;



}



.cp1{width: 98%;background: #f6f6f6;padding: 15px;margin: 12px 0;text-align: center;}



.cp1 .tpd{



    margin-bottom:10px



}



.cp1 .tpd img{



    width:100%;



	margin-bottom:10px



}



.cp1 a{



    color: #777777;



    font-size: 14px;



}



}







/*下属公司*/



.xsm{margin-top: 60px;}



.xsm ul dl{cursor:pointer;outline: none;background: #1f35a5;border-radius: 10px;margin: 10px 0;}



.xsm ul dl .ti{width: 100%;height: 55px;line-height: 55px;border-bottom: 1px solid #e2e2e2;font-size: 19px;color: #273045;padding: 0 40px;}



.xsm ul dl.show{



    border:1px solid #1f35a5;



    border-radius:10px 10px 0 0;



}



.xsm ul dl .ti .zy{display: inline-block;width: 55%;color: #fff;}



.xsm ul dl .ti .zy img{ margin-right:20px}



.xsm ul dl .ti .but{float: right;display: block;width: 20px;height: 16px;background: url(../images/jt.png) no-repeat center;margin-top: 22px;}



.xsm ul dl .ti .dz{background: url(../images/dz.png) no-repeat left center;padding-left: 20px;}



.xsm ul dl .text{font-size: 17px;color: #666666;line-height: 2.1;padding: 28px 70px;display: none;}



.xsm ul dl .text .throw{margin-top: 20px;}



.xsm ul dl .text .throw span{color: #4378df;}



.xsm ul dl.show .text{display: block;background-color: #fff;background-image: url(../images/jt5.png);background-position: left center;background-repeat: no-repeat;background-position-x: 20px;background-position-y: 30%;margin-top: 0px;}









@media only screen and (max-width:992px){



.xsm{margin-top: 20px;}



.xsm ul dl{cursor:pointer;outline: none;background: #1f35a5;border-radius: 10px;margin: 10px 0;}



.xsm ul dl .ti{width: 100%;height: 55px;line-height: 55px;border-bottom: 1px solid #e2e2e2;font-size: 16px;color: #273045;padding: 0 40px;}



.xsm ul dl .ti .zy{display: inline-block;width: 100%;color: #fff;}



.xsm ul dl .ti .zy img{ margin-right:20px}



.xsm ul dl .ti .but{float: right;display: block;width: 20px;height: 16px;background: url(../images/jt.png) no-repeat center;margin-top: 22px;}



.xsm ul dl .ti .dz{background: url(../images/dz.png) no-repeat left center;padding-left: 20px;}



.xsm ul dl .text{font-size: 14px;color: #666666;line-height: 2.1;padding: 20px 50px;display: none;}



.xsm ul dl .text .throw{margin-top: 20px;}



.xsm ul dl .text .throw span{color: #4378df;}



.xsm ul dl.show .text{display: block;background-color: #fff;background-image: url(../images/jt5.png);background-position: left center;background-repeat: no-repeat;background-position-x: 20px;background-position-y: 20%;margin-top: 0px;}



}







/*加入我们*/



.join{margin-top: 60px;}



.join ul dl{cursor:pointer;outline: none;background: #f1f1f1;margin: 10px 0;}



.join ul dl .ti{width: 100%;height: 55px;line-height: 55px;border-bottom: 1px solid #e2e2e2;font-size: 24px;color: #000;padding: 0 40px;}



.join ul dl .ti .zy{display: inline-block;width: 55%;color: #555555;}



.join ul dl .ti .zy img{ margin-right:20px}



.join ul dl .ti .yzy{



    float: right;



    color: #555555;



    font-size: 20px;



}



.join ul dl .ti .yzy a{



    color: #555555;



    font-size: 20px;



    margin-left:15px;



}



.join ul dl .ti .yzy a img{



    margin-left:15px;



    filter: brightness(0.5);



}



.join ul dl.show .ti .yzy a img



{



    filter:unset



}



.join ul dl .ti .but{float: right;display: block;width: 20px;height: 16px;background: url(../images/jt.png) no-repeat center;margin-top: 22px;}



.join ul dl .ti .dz{background: url(../images/dz.png) no-repeat left center;padding-left: 20px;}



.join ul dl .text{font-size: 18px;color: #666666;line-height: 2.1;padding: 0;display: none;padding: 35px 40px;}



.join ul dl .text .throw{margin-top: 20px;}



.join ul dl .text .throw span{color: #4378df;}



.join ul dl.show{



  background: #1b309a;



    border: 1px solid #1b309a;



}



.join ul dl.show .zy{



    color: #fff;



}



.join ul dl.show .yzy{



    color: #fff;



}



.join ul dl.show .yzy a{



    color:#fff



}



.join ul dl.show .text{display: block;background-color: #fff;background-position: left center;background-repeat: no-repeat;background-position-x: 20px;background-position-y: 30%;margin-top: 0px;}



.td{



    display: block;



    width: 220px;



    height: 65px;



    border: 1px solid;



    line-height: 65px;



    text-align: center;



    font-size: 24px;



    color: #1b309a!important;



    margin-top: 20px;



}



.td:hover{



    background:#1b309a;



    color:#fff!important;



}



.td img{



    margin-right: 15px;



}



.td:hover img{



    filter: brightness(500);



}



@media only screen and (max-width:992px){



.join{margin-top: 60px;}




.join ul dl{cursor:pointer;outline: none;background: #f1f1f1;margin: 10px 0;}



.join ul dl .ti{width: 100%;height: auto;line-height: 40px;border-bottom: 1px solid #e2e2e2;font-size: 18px;color: #000;padding: 0 20px;overflow: hidden;}



.join ul dl .ti .zy{display: inline-block;width: 100%;color: #555555;}



.join ul dl .ti .zy img{ margin-right:20px}



.join ul dl .ti .yzy{



    float: left;



    color: #555555;



    font-size: 14px;



    width: 100%;



}



.join ul dl .ti .yzy a{



    color: #555555;



    font-size: 14px;



    margin-left:15px;



    float: right;



}



.join ul dl .ti .yzy a img{



    margin-left:15px;



    filter: brightness(0.5);



}



.join ul dl.show .ti .yzy a img



{



    filter:unset



}



.join ul dl .ti .but{float: right;display: block;width: 20px;height: 16px;background: url(../images/jt.png) no-repeat center;margin-top: 22px;}



.join ul dl .ti .dz{background: url(../images/dz.png) no-repeat left center;padding-left: 20px;}



.join ul dl .text{font-size: 14px;color: #666666;line-height: 2.1;padding: 0;display: none;padding: 15px 20px;}



.join ul dl .text .throw{margin-top: 20px;}



.join ul dl .text .throw span{color: #4378df;}



.join ul dl.show{



    background:#1b309a



}



.join ul dl.show .zy{



    color: #fff;



}



.join ul dl.show .yzy{



    color: #fff;



}



.join ul dl.show .yzy a{



    color:#fff



}



.join ul dl.show .text{display: block;background-color: #fff;background-position: left center;background-repeat: no-repeat;background-position-x: 20px;background-position-y: 30%;margin-top: 0px;}



.td{



    display: block;



    width: 140px;



    height: 50px;



    border: 1px solid;



    line-height: 50px;



    text-align: center;



    font-size: 16px;



    color: #1b309a!important;



    margin: 20px auto;



}



.td:hover{



    background:#1b309a;



    color:#fff!important;



}



.td img{



    margin-right: 15px;



}



.td:hover img{



    filter: brightness(500);



    width: 20%;



}



}



.nej .on li{



	color:#0056b3!important;



	}



	



	.xiaocms-page {font-family: "微软雅黑";padding: 5px;margin: 5px;text-align: center;margin: 30px auto;



}



.xiaocms-page a {border-right: #ddd 1px solid;border-top: #ddd 1px solid;padding-bottom: 5px;border-left: #ddd 1px solid;color: #888888;margin-right: 5px;border-bottom: #ddd 1px solid;text-decoration: none;margin: 0 5px;}



.xiaocms-page a:hover {border-right: #a0a0a0 1px solid;border-top: #a0a0a0 1px solid;padding-bottom: 5px;border-left: #a0a0a0 1px solid;border-bottom: #a0a0a0 1px solid;}



.xiaocms-page a:active {}



.xiaocms-page span {border-right: #0f2074 1px solid;border-top: #0f2074 1px solid;font-weight: bold;padding-bottom: 5px;border-left: #0f2074 1px solid;color: #fff;margin-right: 5px;border-bottom: #0f2074 1px solid;background-color: #0f2074;}



.xiaocms-page span.disabled {border-right: #0184c1 1px solid;padding-right: 8px;border-top: #0184c1 1px solid;padding-left: 8px;padding-bottom: 5px;border-left: #0184c1 1px solid;color: #0184c1;margin-right: 5px;padding-top: 5px;border-bottom: #0184c1 1px solid;



}











.p_products li{



 background: #f6f6f6;



 width: 22%;



 float:left;



 margin: 10px;



 text-align: center;



 padding: 15px;



 font-size: 12px;



}



.p_products li h4{font-size:16px; line-height:1.4;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }



.p_products li img{



    display:block;



    margin:auto;



    height: 150px;



    width: 100%;



    margin-bottom: 15px;



}







@media only screen and (max-width: 992px){







.p_products li{background: #f6f6f6;width: 43%;float:left;margin: 10px;text-align: center;padding: 15px;font-size: 12px;}







.p_products li img{display:block;margin:auto;height: auto;margin-bottom: 15px;}







.p_products li h4{font-size:14px;text-overflow: ellipsis;white-space:nowrap;overflow:hidden;}



}

@media only screen and (min-width:768px){

.header .an {

	top:50px

	}

}
@media screen and (max-width:1280px) {
    .p_products li img {
        height: 120px;
    }
}
@media screen and (max-width: 768px) {
    .p_products li {
        width: 48%;
        margin: 1%;
        padding: 6px;
    }
    .p_products li img {
        height: 100px;
        margin-bottom: 5px;
    }
    .xiaocms-page a {
        color: #666666;
        font-size: 12px;
        margin: 5px;
        display: inline-block;
        width: 22px;
        height: 22px;
        line-height: 21px;
        background: #fff;
        border-radius: 5px;
    }
    .xiaocms-page span {
        font-size: 12px;
        color: #fff;
        width: 22px;
        height: 22px;
        display: inline-block;
        line-height: 20px;
        border-radius: 5px;
        margin: 0 5px;
    }
    .col-12 {
        padding: 0;
    }
}